
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494047851887'); /* IE9*/
  src: url('iconfont.eot?t=1494047851887#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494047851887') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494047851887') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494047851887#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-close:before { content: "\e69a"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-selected:before { content: "\e6ad"; }

.icon-add:before { content: "\e6b9"; }

.icon-iconlianxifangshidianhua:before { content: "\ebdc"; }

.icon-flight:before { content: "\e6d9"; }

.icon-erweima:before { content: "\e606"; }

.icon-wuxing:before { content: "\e612"; }

.icon-xuanze:before { content: "\e607"; }

.icon-chacha:before { content: "\e640"; }

.icon-choose:before { content: "\e608"; }

.icon-feiji:before { content: "\e620"; }

.icon-fangxingweixuanzhong-copy:before { content: "\e609"; }

.icon-fangxingxuanzhong-fill:before { content: "\e602"; }

