<div class="page-gray-bg" ng-controller="userCenter">

    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">关于我们</span>
    </div>



    <div class="page-wrap">
        <div class="aboutus-img"></div>
        <div class="page-menu-box">
            <div class="register-input-box cl">
                <div class="register-name">当前版本</div>
                <div class="register-input">
                    1.0
                </div>
            </div>

            <div class="register-input-box cl">
                <div class="register-name">意见反馈</div>
                <div class="register-input">
                    <i class="iconfont arrow-icon">&#xe6a7;</i>
                </div>
            </div>

            <div class="register-input-box cl">
                <div class="register-name">城市加盟</div>
                <div class="register-input">
                    400-662-9528
                </div>
            </div>

            <div class="register-input-box cl  border0">
                <div class="register-name">门店加盟</div>
                <div class="register-input">
                    400-662-9528
                </div>
            </div>
        </div>

        <div class="page-menu-box">
            <div class="register-input-box cl border0">
                <div class="register-name">当前版本</div>
                <div class="register-input">
                    <i class="iconfont arrow-icon">&#xe6a7;</i>
                </div>
            </div>
        </div>

        <div class="page-menu-box">
            <div class="aboutus-loginout">
                退出
            </div>
        </div>
    </div>



</div>