<div class="page-gray-bg" ng-controller="userCenter">
    <div class="uc-title-bg cl">
        <div class="avatar-box">
            <div class="avatar-bg"></div>
            <div class="avatar-img"></div>
        </div>
        <div class="uc-info">
            <p class="name">韩增元（电工、水工)</p>
            <p class="progress">15858120120</p>
        </div>
        <div class="uc-arrow">
            <i class="iconfont">&#xe6a7;</i>
        </div>
    </div>

    <div class="uc-rowspan">
        <span class="uc-span s1">
            <h2>今日单数（单）</h2>
            <h3>+22单</h3>
        </span>

        <span class="uc-span">
            <h2>今日收入（元）</h2>
            <h3>403.6元</h3>
        </span>
    </div>

    <ul class="uc-arrow-right-box">
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">我的消息</div>
        </li>
    </ul>


    <ul class="uc-arrow-right-box">
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">余额</div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">质保金</div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">我的银行卡</div>
        </li>
    </ul>

    <ul class="uc-arrow-right-box">
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">分享宅快修技师端</div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">关于我们</div>
        </li>
    </ul>

</div>