<div class="page-gray-bg" ng-controller="userCenter">
    <div class="mine-title-bg cl">
        <div class="mine-box">
            <div class="mine-img" style="background-image:url(assets/image/photo_show.jpg);"></div>
        </div>
        <div class="mine-info">
            <p class="name">韩增元</p>
        </div>
        <div class="uc-arrow">
            <i class="iconfont">&#xe6a7;</i>
        </div>
    </div>



    <ul class="uc-mine-box">
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">
                <i class="iconfont icon-youhuiquan"></i>
                优惠券
            </div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">
                <i class="iconfont icon-dizhi"></i>
                服务地址
            </div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">
                <i class="iconfont icon-lianxikefu"></i>
                联系客服
            </div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">
                <i class="iconfont icon-fenxiang1"></i>
                分享宅快修
            </div>
        </li>
        <li class="uc-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe6a7;</i>
            </div>
            <div class="arrow-left-title">
                <i class="iconfont icon-shezhi"></i>
                设置
            </div>
        </li>
    </ul>


    <div class="app-footnav">
        <ul>
            <li><a href="#/find"><em class="home"></em><b>首页</b></a></li>
            <li><a href="/M/Index/index.html"><em class="order"></em><b>订单</b></a></li>
            <li><a href="#/find"><em class="find"></em><b>发现</b></a></li>
            <li  class="active"><a href="/M/UserMenu/index.html"><em  class="mine"></em><b>我的</b></a></li>
        </ul>
    </div>
</div>