<div class="page-wrap" ng-controller="userCard">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">完善证件信息</span>
    </div>


    <div class="userInfo-wrap">

        <h2 class="zkxs-title">请上传您的身份证照片</h2>

        <div class="photo-upload-box">
            <div class="photo-upload-add"></div>
            上传身份证正面
        </div>
        <div class="photo-upload-box">
            <div class="photo-upload-add"></div>
            上传身份证背面
        </div>

        <h2 class="zkxs-title">请上传您的电工证照片</h2>
        <div class="photo-upload-box">
            <div class="photo-upload-add"></div>
            上传电工证正面
        </div>
        <div class="photo-upload-box">
            <div class="photo-upload-add"></div>
            上传电工证背面
        </div>
        <div>
            <div class="lr-submit">下一步</div>
        </div>
    </div>
</div>