<div class="page-gray-bg" ng-controller="userInfo">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">个人资料</span>
        <div class="right-icon orange">
            保存
        </div>
    </div>

<div class="page-wrap">
    <div class="appUserInfo-wrap-box">
        <div class="page-menu-box">
            <div class="register-input-box2 cl">
            <div class="register-name user-name">头像</div>
            <div class="register-input">
                <div class="userInfo-avatar-bg"></div>
            </div>
        </div>

            <div class="register-input-box1 cl">
                <div class="register-name">姓名</div>
                <div class="register-input">
                    wuruyi
                </div>
            </div>

            <div class="register-input-box1 cl">
                <div class="register-name">性别</div>
                <div class="register-input">
                    <select name="sex" id="" class="zkx-select sex-select">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
            </div>

            <div class="register-input-box1 cl">
                <div class="register-name">电话</div>
                <div class="register-input">
                    <input type="number" name="" placeholder="请输入手机号">
                </div>
            </div>

            <div class="register-input-box border0 cl">
                <div class="register-name">生日</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
                <div class="register-input">
                    <input type="text" name="" id="chooseDate" placeholder="请输入生日日期" >
                </div>
            </div>
        </div>
    </div>

    <div class="appUserInfo-wrap-box">
        <div class="page-menu-box">
            <div class="register-input-box cl">
                <div class="register-name">房屋状况</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
                <div class="register-input">
                    北京市北京市朝阳区
                </div>
            </div>


            <div class="register-input-box cl">
                <div class="register-name">房屋状况</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
                <div class="register-input">
                    <input type="text" name="" id="chooseNum" value="15年">
                </div>
            </div>

            <div class="register-input-box border0  cl">
                <div class="register-name">居住人群</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
                <div class="register-input">
                    <input type="text" name="" >
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
</div>