<div class="page-gray-bg" ng-controller="userCenter">

    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">设置</span>
    </div>

    <div class="page-wrap">

        <div class="page-menu-box">
            <div class="register-input-box cl">
                <div class="register-name">清除缓存</div>
                <div class="register-input">
                    <i class="iconfont arrow-icon">&#xe6a7;</i>
                </div>
            </div>
            <div class="register-input-box border0 cl">
                <div class="register-name">关于我们</div>
                <div class="register-input">
                    <i class="iconfont arrow-icon">&#xe6a7;</i>
                </div>
            </div>
        </div>

        <div class="page-menu-box">
            <div class="aboutus-loginout">
                退出登录
            </div>
        </div>
    </div>



</div>