<div class="white-bg" ng-controller="userInfo">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">个人资料</span>
        <div class="right-icon orange">
            保存
        </div>
    </div>


    <div class="userInfo-wrap-box">

        <div class="register-input-box2 cl">
            <div class="register-name user-name">头像</div>
            <div class="register-input">
                <div class="userInfo-avatar-bg"></div>
            </div>
        </div>

        <div class="register-input-box1 cl">
            <div class="register-name">职位</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            <div class="register-input">
                技师
            </div>
        </div>

        <div class="register-input-box1 cl">
            <div class="register-name">工号</div>
            <div class="register-input">
                123456789
            </div>
        </div>

        <div class="register-input-box1 cl">
            <div class="register-name">姓名</div>
            <div class="register-input">
                wuruyi
            </div>
        </div>

        <div class="register-input-box1 cl">
            <div class="register-name">性别</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            <div class="register-input">
                男
            </div>
        </div>

        <div class="register-input-box cl">
            <div class="register-name">电话</div>
            <div class="register-input">
                <input type="number" name="" placeholder="请输入手机号">
            </div>
        </div>

        <div class="register-input-box1 cl">
            <div class="register-name">省、市、区</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            <div class="register-input">
                北京市北京市朝阳区
            </div>
        </div>

        <div class="register-input-box cl">
            <div class="register-name">工种</div>
            <div class="register-input">
                水工、电工、油工
            </div>
        </div>


        <div class="register-input-box cl">
            <div class="register-name">工龄</div>
            <div class="register-input">
                15
            </div>
        </div>

        <div class="register-input-box cl">
            <div class="register-name">入驻时间</div>
            <div class="register-input">
                2016.01.03
            </div>
        </div>

        <div class="register-input-box cl">
            <div class="register-name">证件照片</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
        </div>

    </div>
</div>