<div class="page-gray-bg" ng-controller="addCard">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">添加银行卡</span>
    </div>

    <div class="mycard-wrap">
        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">持卡人：</div>
                <div class="orderDetail-info1">
                    李文涛
                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">身份证：</div>
                <div class="orderDetail-info1">
                    <input type="text" value="" class="addCard-input" placeholder="请输入身份证">
                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">卡类型：</div>
                <div class="orderDetail-info1">
                    <select name="sex" id="" class="zkx-select sex-select" style="direction: ltr;text-indent: 0;width:4.5em">
                        <option value="0" selected>储蓄卡</option>
                        <option value="1">信用卡</option>
                    </select>
                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">银行卡号：</div>
                <div class="orderDetail-info1">
                    <input type="text" value="" class="addCard-input" placeholder="请输入银行卡号">
                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">手机号：</div>
                <div class="orderDetail-info1">

                    <input type="text" value="" class="addCard-input" placeholder="请填写银行预留手机号码">
                </div>
            </div>

            <div class="orderDetail-info-box-other cl" style="padding-right: 1.9rem;border:0">
                <div class="orderDetail-name">验证码：</div>
                <div class="orderDetail-yzm" style="    float: right;
    margin-right: -1.5rem;"><div class="login-yzm-get" style="    padding: 0 .1rem;">获取验证码</div></div>
                <div class="orderDetail-info1">
                    <input type="text" name="" placeholder="请输入验证码" class="addCard-input" >

                </div>
            </div>


        </div>

        <div class="mr3 mt63" style="padding-left: .3rem">
            <div class="lr-submit">下一步</div>
        </div>
    </div>

</div>

