<div class="page-gray-bg" ng-controller="addCard">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">添加银行卡</span>
    </div>

    <div class="mycard-wrap">
        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">持卡人：</div>
                <div class="orderDetail-info1">
                    李文涛
                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">身份证：</div>
                <div class="orderDetail-info1">
                    <input type="text" value="" class="addCard-input" placeholder="请输入身份证">
                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">卡类型：</div>
                <div class="orderDetail-info1">

                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">银行卡号：</div>
                <div class="orderDetail-info1">

                </div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">卡类型：</div>
                <div class="orderDetail-info1">

                </div>
            </div>

            <div class="login-input-box cl">
                <div class="login-mr-box">
                    <div class="login-yzm-get">验证码</div>
                </div>
                <div class="login-input">
                    <input type="text" name="" placeholder="请输手机验证码">
                </div>
            </div>
        </div>
    </div>

</div>

