<div class="page-gray-bgdown" ng-controller="addressConfirm" style="height:100%;">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">选择地址</span>
    </div>
    <div class="page-wrap-down">
        <div class="orderDetail-menu-box">
            <div class="address-box-top cl">
                <div class="address-icon-box"><i class="iconfont icon-choose"></i></div>
                <div class="address-top-info-box">
                    <div class="cl">
                        <h5 class="address-name fl">玉如意&nbsp;先生</h5>
                        <h5 class="address-tel fr">15230625382</h5>
                    </div>
                    <p>
                        北京市丰台区新村街道百强大道10号，天龙华鹤B座1918大道10号
                    </p>
                </div>
            </div>
            <div class="address-box-bottom">
                <button type="button" class="address-box-btn">编辑</button>
                <button type="button" class="address-box-btn">删除</button>
            </div>
        </div>


        <div class="orderDetail-menu-box">
            <div class="address-box-top cl">
                <div class="address-icon-box"><i class="iconfont icon-xuanze"></i></div>
                <div class="address-top-info-box">
                    <div class="cl">
                        <h5 class="address-name fl">玉如意&nbsp;先生</h5>
                        <h5 class="address-tel fr">15230625382</h5>
                    </div>
                    <p>
                        北京市丰台区新村街道百强大道10号，天龙华鹤B座1918大道10号
                    </p>
                </div>
            </div>
            <div class="address-box-bottom">
                <button type="button" class="address-box-btn">编辑</button>
                <button type="button" class="address-box-btn">删除</button>
            </div>
        </div>
        <div class="orderDetail-menu-box">
            <div class="address-box-top cl">
                <div class="address-icon-box"><i class="iconfont icon-choose"></i></div>
                <div class="address-top-info-box">
                    <div class="cl">
                        <h5 class="address-name fl">玉如意&nbsp;先生</h5>
                        <h5 class="address-tel fr">15230625382</h5>
                    </div>
                    <p>
                        北京市丰台区新村街道百强大道10号，天龙华鹤B座1918大道10号
                    </p>
                </div>
            </div>
            <div class="address-box-bottom">
                <button type="button" class="address-box-btn">编辑</button>
                <button type="button" class="address-box-btn">删除</button>
            </div>
        </div>
        <div class="orderDetail-menu-box">
            <div class="address-box-top cl">
                <div class="address-icon-box"><i class="iconfont icon-xuanze"></i></div>
                <div class="address-top-info-box">
                    <div class="cl">
                        <h5 class="address-name fl">玉如意&nbsp;先生</h5>
                        <h5 class="address-tel fr">15230625382</h5>
                    </div>
                    <p>
                        北京市丰台区新村街道百强大道10号，天龙华鹤B座1918大道10号
                    </p>
                </div>
            </div>
            <div class="address-box-bottom">
                <button type="button" class="address-box-btn">编辑</button>
                <button type="button" class="address-box-btn">删除</button>
            </div>
        </div>
        <div class="fixed-submit-box">
            <div class="fixed-submit-box-btn">确认</div>
        </div>
    </div>
</div>


</div>