<div class="page-bg" ng-controller="reg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">公告说明</span>
    </div>

    <div class="agreement-wrap">
        <h1 class="agreement-title">宅快修平台施工规则</h1>
        <ol class="agreement-text">
            <li>
                春天在哪里呀春天在哪里呀春天在哪里呀春天在哪里呀春天在哪里呀
            </li>
            <li>
                春天在哪里呀
            </li>
            <li>
                春天在哪里呀
            </li>
        </ol>
    </div>

</div>
