<div class="white-bg" ng-controller="alreadyOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">订单详情</span>
    </div>

    <div class="alreadyOrder-box">
        <h4 class="alreadyOrder-order-h4 cl">
            <div class="alreadyOrder-order-num">工程师已接单</div>
            <div class="alreadyOrder-title">您的订单</div>
        </h4>
    </div>
    <div class="separate-line"></div>

    <dl class="alreadyOrder-service-box">
        <div class="service-avatar">
            <div class="alreadyOrder-service-avatar-box">
                <div class="alreadyOrder-service-avatar-bg"></div>
                <div class="alreadyOrder-service-avatar-img"></div>
            </div>
        </div>

        <dd class="service-info">
            <h3>工程师刘清明</h3>
            <h5>联系电话：1586187914</h5>
        </dd>
    </dl>

    <h4 class="orderDetail-title-white">维修方案：</h4>
    <div class="alreadyOrder-box1">
        <div class="zhai-textarea-box">
            <textarea name="" id="" class="zhai-textarea" placeholder="解决方案描述"></textarea>
        </div>
    </div>
    <ul class="typelist-name">
        <li class="active">方案1</li>
        <li>方案2</li>
    </ul>
    <div class="orderDetail-list">
        <dl class="orderDetail-list-box">
            <dt><div class="images fxm-images" style="background-image:url(assets/img/photo_show.jpg)"></div></dt>
            <dd>
                <h4>箭牌箭牌箭牌系列马桶箭牌箭牌箭牌系列马桶箭牌箭牌箭牌系列马桶</h4>
                <div class="big-txt cl">
                    <span class="text-info">数量：1</span>
                    <span class="building-info">
                        <small class="red">￥</small><b class="red">300</b><small class="icon-min"></small>
                    </span>
                </div>
                <p class="text">型号：特大号马桶</p>
            </dd>
        </dl>
    </div>
    <div class="alreadyOrder-box">
    <div class="orderDetail-input-tb">
        <div class="weixiu1">维修费</div>
        <div class="weixiu-input-box">
        <input type="text" class="alreadyOrder-input"/>
        </div>
        <div class="unit">元</div>
    </div>
    </div>
    <div class="alreadyOrder-total">共计：<strong>300</strong>元</div>

    <div class="fixed-submit-box">确认</div>
</div>