<div class="white-bg" ng-controller="answerOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">订单详情</span>
    </div>

    <div class="alreadyOrder-box answer-box">
        <h4 class="alreadyOrder-order-h4 cl">
            <div class="alreadyOrder-order-num">工程师已接单</div>
            <div class="alreadyOrder-title">您的订单</div>
        </h4>
    </div>
    <div class="separate-line"></div>

    <div class="answer-show-box">
        <ul>
            <li>宅快修/卫生间/臭味</li>
            <li>上门时间：2016年4月15日10:00-12:00</li>
            <li class="address-show">
                <span>地址：</span>国际财经中心/羽泉新城/43-5-301
            </li>
        </ul>
    </div>
    <div class="separate-line"></div>

    <dl class="alreadyOrder-service-box">
        <div class="service-avatar">
            <div class="alreadyOrder-service-avatar-box">
                <div class="alreadyOrder-service-avatar-bg"></div>
                <div class="alreadyOrder-service-avatar-img"></div>
            </div>
        </div>
        <dd class="service-info">
            <h3><span class="half-justify selected">工程</span>师：刘清明</h3>
            <h5>联系电话：1586187914</h5>
        </dd>
    </dl>
    <div class="separate-line"></div>

    <h4 class="orderDetail-title-white">维修方案：</h4>
    <div class="alreadyOrder-box2">
        <div class="zhai-textarea-box">
            <textarea name="" id="" class="zhai-textarea" placeholder="解决方案描述"></textarea>
        </div>
    </div>

    <div class="answer-btn">
        <div class="agree-box">同意</div>
        <div class="reject-box">拒绝</div>
    </div>
</div>