<div class="white-bg" ng-controller="answerOrder">
    <div class="zkx-header">

        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>

        <div class="s-input-select">
            <div class="s-input-frame">
                <form class="c-form-suggest" id="J_Search" method="get" action="/h5">
                    <div class="c-form-btn"><input type="submit" name="search" class="icons-search"></div>
                    <div class="s-form-search search-form">
                        <input type="search" name="q" class="J_autocomplete" autocomplete="off" value="" placeholder="请输入想要维修的项目">
                        <button style="display: none;"><span></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul class="list-left" id="tab">
        <li><a style="position: relative;">新品推荐<i class="num">8</i></a></li>
        <li><a>芝士奶盖系列</a></li>
        <li class="current"><a>精选奶茶</a></li>
        <li><a>部落奶盐</a></li>
        <li><a>正宗可可奶盖</a></li>
        <li><a>清新果茶</a></li>
        <li><a>招牌榴莲奶盖</a></li>
        <li><a>部落奶盖系列</a></li>
        <li><a>鲜榨果汁</a></li>
        <li><a>创意特饮</a></li>
        <li><a>纯吃茶</a></li>
        <li><a>沙冰系列</a></li>
        <li><a>热饮系列</a></li>
        <li><a>小吃系列</a></li>
    </ul>

    <div class="list-right" id="content">
        <div class="pro-box">
            <dl class="cl p10">
                <dt>
                <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                </dt>
                <dd class="info s">
                    <h3>卫生间改造</h3>
                    <div class="price">
                        <em class="money">￥7900</em>
                    </div>
                </dd>
            </dl>
        </div>
    </div>


    <div class="zkxs-fixed-btn-box cl">
        <div class="zkxs-fixed-btn-info-box">
            <div class="zkxs-fixed-btn-info">
                <i class="iconfont icon-choose zkxs-fixed-iconfont"></i> 合计：<span class="orange">￥166.00</span>
            </div>
        </div>
        <div class="zkxs-fixed-btn bg-gray">结算</div>
    </div>

</div>