<div class="page-newgray-bg" ng-controller="orderList">
<div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">订单</span>
    </div>

    <div class="page-double-wrap">

        <div class="nav-tab-top nav-tab-small">
            <ul>
                <li data-code="waitPay" class="">全部</li>
                <li data-code="waitSend" class="cur">待接单</li>
                <li data-code="waitConfirm" class="">
                    <div class="red-number">7</div>
                    待确认
                </li>
                <li data-code="waitRate" class="">进行中</li>
                <li data-code="waitRate" class="">待评价</li>
            </ul>
        </div>

        <div class="order-list">
            <ul class="order-list-box">
                <li class="order-list-item">
                    <div class="first-part cl">
                        <h1 class="title">订单编号：15654564544</h1>
                        <div class="order-erweima-box">
                            2015-09-09 12:23
                        </div>
                    </div>
                    <div  class="seventh-part">
                            <ul class="merchandise-item-box1">
                                <li>
                                    <div class="item-pic" >
                                        <div class="pic-img" style="background-image:url(assets/image/default_user.jpg);"></div>
                                    </div>
                                    <div class="item-info">拆卸卫浴等</div>
                                    <div class="item-num">X1</div>
                                    <div class="item-price">25元</div>
                                </li>
                                <li>
                                    <div class="item-pic" >
                                        <div class="pic-img" style="background-image:url(assets/image/default_user.jpg);"></div>
                                    </div>
                                    <div class="item-info">拆卸卫浴等</div>
                                    <div class="item-num">X1</div>
                                    <div class="item-price">25元</div>
                                </li>
                            </ul>
                    </div>
                    <div class="fifth-party noborder">
                        <button class="mybtn-small-gray">取消订单</button>
                        <button class="mybtn-small-orange">立即支付</button>
                    </div>
                </li>
                <li class="order-list-item">
                    <div class="first-part cl">
                        <h1 class="title">订单编号：15654564544</h1>
                        <div class="order-erweima-box">
                            2015-09-09 12:23
                        </div>
                    </div>
                    <div  class="seventh-part">
                        <ul class="merchandise-item-box1">
                            <li>
                                <div class="item-pic" >
                                    <div class="pic-img" style="background-image:url(assets/image/default_user.jpg);"></div>
                                </div>
                                <div class="item-info">拆卸卫浴等</div>
                                <div class="item-num">X1</div>
                                <div class="item-price">25元</div>
                            </li>
                            <li>
                                <div class="item-pic" >
                                    <div class="pic-img" style="background-image:url(assets/image/default_user.jpg);"></div>
                                </div>
                                <div class="item-info">拆卸卫浴等</div>
                                <div class="item-num">X1</div>
                                <div class="item-price">25元</div>
                            </li>
                        </ul>
                    </div>
                    <div class="fifth-party noborder">
                        <button class="mybtn-small-gray">取消订单</button>
                        <button class="mybtn-small-orange">立即支付</button>
                    </div>
                </li>
                <li class="order-list-item">
                    <div class="first-part cl">
                        <h1 class="title">订单编号：15654564544</h1>
                        <div class="order-erweima-box">
                            2015-09-09 12:23
                        </div>
                    </div>
                    <div  class="seventh-part">
                        <ul class="merchandise-item-box1">
                            <li>
                                <div class="item-pic" >
                                    <div class="pic-img" style="background-image:url(assets/image/default_user.jpg);"></div>
                                </div>
                                <div class="item-info">
                                    拆卸卫浴等 <br>
                                    5㎡（含5㎡以内）
                                </div>
                                <div class="item-num">X1</div>
                                <div class="item-price">25元</div>
                            </li>
                            <li>
                                <div class="item-pic" >
                                    <div class="pic-img" style="background-image:url(assets/image/default_user.jpg);"></div>
                                </div>
                                <div class="item-info">拆卸卫浴等</div>
                                <div class="item-num">X1</div>
                                <div class="item-price">25元</div>
                            </li>
                        </ul>
                    </div>
                    <div class="fifth-party noborder">
                        <button class="mybtn-small-gray">追加服务</button>
                        <button class="mybtn-small-orange">立即评价</button>
                    </div>
                </li>
            </ul>
        </div>
   </div>

</div>





