
<div class="index-bg" ng-controller="asksuc" style="position: relative">
    <div class="bg-gray-pa">
        <div class="bg-show">
            <div class="asksuc-icon"></div>
            <h3 class="asksuc-h3">申请成功</h3>
            <p class="asksuc-text">
                您好，我们已经收到了您的入驻申请 <br>
                宅快修的服务人员会尽快跟您进行联系 <br>
                待平台审核通过后 <br>
                您就可以在我们的平台上接单啦 <br><br>

                请耐心等候...<br>
            </p>
            <div class="ask-cross"><i class="iconfont">&#xe640;</i></div>
        </div>
    </div>
</div>