<div class="page-gray-bgbottom" ng-controller="confirmOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">预约订单</span>
    </div>

    <div class="page-wrap confirm-box">
        <div class="bookOrder-address-box">
            <h4>玉如意   先生   15230625382</h4>
            <h5>北京市丰台区百强大道10号天龙华鹤B座1217</h5>
            <div class="left-address">
                <i class="iconfont icon-dizhi1 orange"></i>
            </div>
            <div class="right-address">
                <i class="iconfont icon-less"></i>
            </div>
        </div>


        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box border0 cl">
                <div class="orange fl">服务项目</div>
            </div>
            <div class="sheet-input-box  cl">
                <div class="sheet-name">上门时间</div>
                <div class="register-input">
                    <input type="text" name="" id="chooseDate1" placeholder="请选择工期">
                </div>
            </div>
            <div class="orderDetail-title-box2">
                上传图片
            </div>
            <div class="photo-list cl">
                <ul>
                    <li id="photoPrimary">
                        <div class="preview" id="photoPrimaryBox">
                            <input type="hidden" class="hideimageurl" name="picUrl">
                        </div>
                    </li>
                    <li>
                        <div class="preview" id="addUpload">
                            <span class="add-bg"></span>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="memo-input-box cl" style="height: auto">
                <div class="memo-name">备注：</div>
                <div class="register-input">
                    <div class="evaluate-box">
                        <div class="feedback-textarea-box1">
                            <textarea name="" id="" class="sheet-textarea1" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="zkxs-fixed-btn-box cl">
            <div class="zkxs-fixed-btn-info-box">
                <div class="zkxs-fixed-btn-info">
                    待支付：<span class="orange">￥166.00</span> <span class="gray-txt-s">| 优惠30</span>
                </div>
            </div>
            <div class="zkxs-fixed-btn bg-gray">立即预约</div>
        </div>
    </div>

</div>