<div class="page-gray-bgbottom">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo detail-logo">
            <span class="active">服务</span>
            <span>详情</span>
            <span>评价</span>
        </span>
    </div>


    <div class="page-wrap-down">
        <div class="detail-pic">
            <div class="detail-pic-boxb">
                小户型装修 - 温馨安逸 用心的二居室装修小户型装修 - 温馨安逸 用心的二居室装修
            </div>
        </div>
    </div>


    <div class="orderDetail-menu-box">
        <div class="detail-title-box cl">
            <div class="orange fl ft45">￥40.0/个</div>
            <div class="fr">销量： <span class="orange">654</span> </div>
        </div>
        <div class="detail-box ft24">
            <span class="detail-intro-icon detail-intro-icon1"></span>正品保证
            <span class="detail-intro-icon detail-intro-icon2"></span>七天无理由接单
            <span class="detail-intro-icon detail-intro-icon3"></span>上门服务
            <span class="detail-intro-icon detail-intro-icon4"></span>0增项
        </div>
    </div>


    <div class="orderDetail-menu-box">
        <div class="orderDetail-info-box3 border0 cl">
            <div class="orderDetail-name2">是否需要商品配件</div>
            <div class="register-arrow"><i class="iconfont icon-xuanze orange ft34"></i></div>
            <div class="register-input orange">￥25.0</div>
        </div>
        <div class="orderDetail-title-box border0 cl">
           商品品牌
        </div>
        <div class="detail-info-box1 cl">
            西门子就没法打死后发嗲
        </div>
    </div>

    <div class="orderDetail-menu-box">
        <div class="sheet-rowspan">
            <span class="sheet-span">
                购买数量
            </span>
            <span class="sheet-span">
                <div class="shop-arithmetic">
                    <a href="javascript:;" class="minus">-</a>
                    <span class="num">1</span>
                    <a href="javascript:;" class="plus">+</a>
                </div>
            </span>
        </div>
    </div>



    <div class="orderDetail-menu-box">
        <div class="orderDetail-title-box border0 cl">
            <div class="fl">服务时间</div>
            <div class="fr mr3">8:00-20:00</div>
        </div>
    </div>



    <div class="orderDetail-menu-box">
        <div class="orderDetail-title-box">
            服务流程
        </div>
        <ol class="detail-line">
            <li>照明线路闸门关闭</li>
            <li>照明线路闸门关闭</li>
            <li>照明线路闸门关闭</li>
            <li>照明线路闸门关闭</li>
        </ol>
    </div>


    <div class="orderDetail-menu-box">
        <div class="orderDetail-title-box">
            温馨提示
        </div>
        <div class="detail-box">
            2个起售不倒萨uhidsahdyuiashnd卡首都阿斯
        </div>
    </div>


    <div class="orderDetail-menu-box">
        <div class="orderDetail-title-box">
            评价专区（75）
        </div>
        <ul class="rate-tag">
            <li>好评（75）</li>
            <li>中评（75）</li>
            <li>差评（75）</li>
            <li>有图（75）</li>
        </ul>
        <div class="detail-rate-list">
            <dl class="detail-rate-box">
                <dt>
                    <div class="rate-avatar-box">
                        <div class="rate-avatar-bg"></div>
                        <div class="rate-avatar-img" style="background-image:url(assets/img/default_user.jpg);"></div>
                    </div>
                </dt>
                <dd>
                    <h1>18015678/9</h1>
                    <div>
                        <span class="evaluate-star">
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont gray-txt">&#xe612;</i>
                        </span>
                        <span class="date">2017-02-02</span>
                    </div>
                    <p>
                        发生于ID巴萨与地板那三等奖喀纳斯U盾那是单宁酸记得那时难度赛回答你撒k
                    </p>
                </dd>
            </dl>
        </div>

        <div class="button-container">
            <div class="sys-button">
                <p>查看全部评价</p>
            </div>
        </div>
    </div>


    <div class="zkxs-fixed-btn-box cl">
        <div class="zkxs-fixed-btn-info-box">
            <div class="detail-li">
                <div>
                    <span class="red-point">7</span>
                    <em class="iconfont icon-kefu"></em>
                    <b>客服</b>
                </div>
            </div>
            <div class="detail-li">
                <div>
                    <em class="iconfont icon-gouwuche"></em>
                    <b>购物车</b>
                </div>
            </div>
        </div>
        <div class="zkxs-fixed-btn bg-gray">加入购物车</div>
    </div>
</div>

