<div class="page-gray-bgbottom" ng-controller="confirmOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">预约订单</span>
    </div>

    <div class="page-wrap confirm-box">
        <div class="bookOrder-address-box">
            <h4>玉如意   先生   15230625382</h4>
            <h5>北京市丰台区百强大道10号天龙华鹤B座1217</h5>
            <div class="left-address">
                <i class="iconfont icon-dizhi1 orange"></i>
            </div>
            <div class="right-address">
                <i class="iconfont icon-less"></i>
            </div>
        </div>


        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box border0 cl">
                <div class="orange fl">服务项目</div>
            </div>

            <div class="book-part">
            <dl class="cl">
                <dt>
                <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                </dt>
                <dd class="info">
                    <h4>墙漆换新</h4>
                    <div class="text-info">30㎡起（含30㎡）</div>
                </dd>
            </dl>
            <div class="price">
                <em class="money">7900</em><span class="yuan">元</span>
            </div>
        </div>

            <div class="register-input-box  cl">
                <div class="register-name"><i class="iconfont icon-shijian deco"></i>上门时间</div>
                <div class="register-arrow"></div>
                <div class="register-input">
                    <input type="text" name="" id="chooseDate1" placeholder="请选择工期" value="2016-05-05">
                </div>
            </div>
            <div class="orderDetail-title-box2">
                <i class="iconfont icon-tupian deco"></i>
                维修处照片
                <span class="photos-upload-tips">上传图片，让师傅了解问题情况</span>
            </div>
            <div class="photos-list cl">
                <ul>
                    <li id="photosPrimary">
                        <div class="preview" id="photosPrimaryBox">
                            <input type="hidden" class="hideimageurl" name="picUrl">
                        </div>
                    </li>
                    <li>
                        <div class="preview" id="addUpload">
                            <span class="add-bg"></span>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="memo-input-box cl" style="height: auto">
                <div class="memo-name">备注：</div>
                <div class="register-input-left">
                    带坏然后呢3UI人hi我还日瓦耳机然后二娃UI染发你撒娇看n
                </div>
            </div>
        </div>



        <div class="zkxs-fixed-btn-box cl">
            <div class="zkxs-fixed-btn-info-box">
<!--                <div class="zkxs-fixed-btn-info">
                    待支付：<span class="orange">￥166.00</span> <span class="gray-txt-s">| 优惠30</span>
                </div>-->
            </div>
            <div class="zkxs-fixed-btn bg-orange">立即预约</div>
        </div>
    </div>

</div>