<div class="white-bg" ng-controller="check">
    <!--<div class="zkx-header check-fail-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">审核失败</span>
    </div>
    <div class="check-fail-wrap">
        <img src="assets/image/check/ckeck_fail_bg.jpg" alt="">
        <p class="check-info">
            很抱歉 <br>
            您所提交的的资料信息<br>
            没有通过我们平台的审核<br>
            您可以尝试再次申请<br>
            严格按照平台入驻所要求的信息填写<br><br>

            辛苦啦..
        </p>
    </div>-->
    <div class="zkx-header check-suc-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">审核成功</span>
    </div>
    <div class="check-fail-wrap">
        <img src="assets/image/check/ckeck_suc_bg.jpg" alt="">
        <p class="check-info">
            恭喜您 <br>
            您所提交的的资料信息 <br>
            已经通过我们平台的审核 <br>
            现在您就可以在我们平台上接单啦 <br>

            合作愉快...
        </p>
    </div>
</div>