<div class="page-gray-bg" ng-controller="chooseAuxiliaryMaterials">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">报价单</span>
    </div>

<div class="page-wrap">

    <div class="sheet-menu-box">
        <div class="sheet-order-box">
             <h5>预算总额（元）</h5>
             <h3>5000.00</h3>
        </div>
        <div class="sheet-rowspan">
            <span class="sheet-span">
                <h2>商口费用：2000</h2>
            </span>

                <span class="sheet-span">
                <h2 class="right">人工费用：2800</h2>
            </span>
        </div>
    </div>


    <div class="orderDetail-menu-box">

        <div class="sheet-input-box border0 cl">
            <div class="sheet-name">实际测量面积</div>
            <div class="register-input">
                <input type="text" name="" id="tel" placeholder="请输入实际测量面积" >
            </div>
        </div>
    </div>

    <div class="orderDetail-menu-box">

        <div class="register-input-box1 border0 cl">
            <div class="register-name">商品清单</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            <div class="register-input">
            </div>
        </div>

    </div>



    <div class="orderDetail-menu-box">

        <div class="register-input-box1 border0 cl">
            <div class="register-name">开工现场说明</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            <div class="register-input">
                录入开工信息
            </div>
        </div>

    </div>

    <div class="fixed-submit-box">
        <div class="fixed-submit-box-btn">提交报价</div>
    </div>
</div>
</div>


</div>