
<div class="page-gray-bg" ng-controller="choose" style="position: relative">

    <div class="zkx-header">
        <div class="s-input-select" style="margin-left:-.42rem;">
            <div class="s-input-frame">
                <form class="c-form-suggest" id="J_Search" method="get" action="/h5">
                    <div class="c-form-btn"><input type="submit" name="search" class="icons-search"></div>
                    <div class="s-form-search search-form">
                        <input type="search" name="q" class="J_autocomplete" autocomplete="off" value="">
                    </div>
                </form>
            </div>
        </div>
        <div class="right-icon cancel">取消</div>
    </div>

    <div class="page-wrap">
        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box2 cl">
                <span class="gray-txt">热门维修项目</span>
            </div>
            <ul class="hot-label-box">
                <li>马桶疏通</li>
                <li>下水管道疏通</li>
                <li>冷热水龙头维修/更换</li>
                <li>吸顶灯换装</li>
            </ul>
        </div>

        <div class="orderDetail-menu-box ">
            <div class="orderDetail-title-box2 histroy-border cl">
                <span class="gray-txt">历史搜索</span>
            </div>
            <ul class="histroy-tips-box">
                <li class="text-center">没有历史记录</li>
            </ul>
            <ul class="hot-label-box mb2">
                <li>马桶疏通</li>
                <li>下水管道疏通</li>
                <li>冷热水龙头维修/更换</li>
                <li>吸顶灯换装</li>
            </ul>
        </div>
    </div>
</div>



<div class="bg-gray-pa"></div>
<div class="fixed-box" id="fixedBox">
    <div class="arrow1" id="arrow1">
        <span class="fl" id="quxiao">取消</span>
        <span class="orange">选择时间</span>
        <span class="fr orange" id="queding">确定</span>
    </div>
    <ul id="timeTable">
        <li class="checked" data-id="17" id="xuanzelie17">08:00-08:30</li>
        <li data-id="36" id="xuanzelie36">17:30-18:00</li>
        <li><input type="text" name="" id="appDate" placeholder="请选择日期"></li>

        <li><input type="text" name="" id="chooseDate1" placeholder="请选择工作时长"></li>
    </ul>
</div>