<div class="white-bg" ng-controller="confirmOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">订单详情</span>
    </div>

    <div class="alreadyOrder-box answer-box">
        <h4 class="alreadyOrder-order-h4 cl">
            <div class="alreadyOrder-order-num1">宅快修/卫生间/臭味</div>
            <div class="alreadyOrder-title selected">您的订单已成功</div>
        </h4>
    </div>
    <div class="separate-line"></div>

    <dl class="alreadyOrder-service-box">
        <div class="service-avatar">
            <div class="alreadyOrder-service-avatar-box">
                <div class="alreadyOrder-service-avatar-bg"></div>
                <div class="alreadyOrder-service-avatar-img"></div>
            </div>
        </div>
        <dd class="service-gray-info ">
            <h3><span class="half-justify">工程</span>师：刘清明</h3>
            <h5>联系电话：1586187914</h5>
        </dd>
    </dl>
    <div class="separate-line"></div>

    <div class="confirm-bottom-btn">
        上门时间：2016-4-15 10:00-12:00
    </div>
</div>