<div class="page-gray-bg" ng-controller="userInfo">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">编辑地址</span>
    </div>


    <div class="page-wrap">
        <div class="page-box">
            <div class="address-input-box cl">
                <div class="register-name">姓名</div>
                <div class="register-input">
                    <input type="text" name="" id="tel" placeholder="请输入姓名" >
                </div>
            </div>

            <div class="address-input-box1 cl">
                <div class="register-name">性别</div>
                <div class="register-input">
                    <select name="sex" id="" class="zkx-select sex-select">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
            </div>

            <div class="address-input-box cl">
                <div class="register-name">电话</div>
                <div class="register-input">
                    <input type="number" name="" placeholder="请输入手机号">
                </div>
            </div>

            <div class="address-input-box1 cl">
                <div class="register-name">省、市、区</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
                <div class="register-input">
                    北京市北京市朝阳区
                </div>
            </div>

            <div class="address-input-box cl">
                <div class="register-name">详细地址</div>
                <div class="register-input">
                    <input type="text" name="" placeholder="小区、楼号、门牌号">
                </div>
            </div>
        </div>

        <div class="gray-box0" >
            <div class="address-btns-box">
                <div class="address-btns-cell1">
                    <div class="lr-reset">取消</div>
                </div>
                <div class="address-btns-cell2"> </div>
                <div class="address-btns-cell3">
                    <div class="lr-submit">确认</div>
                </div>
            </div>
        </div>
    </div>
</div>