<div class="white-bg" ng-controller="evaluate">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">评价</span>
    </div>

    <h1 class="evaluate-title">—— 来我们打个分吧 ——</h1>
    <div class="evaluate-star-box">
        <i class="icon iconfont icon-wuxing cur"></i>
        <i class="icon iconfont icon-wuxing"></i>
        <i class="icon iconfont icon-wuxing"></i>
        <i class="icon iconfont icon-wuxing"></i>
        <i class="icon iconfont icon-wuxing"></i>
    </div>
    <ul class="evaluate-label-box">
        <li class="cur">价格偏高</li>
        <li>干活质量差</li>
        <li>上门速度慢</li>
        <li>价格偏高</li>
        <li>干活质量差</li>
        <li>上门速度慢</li>
    </ul>
    <h1 class="evaluate-title">—— 吐槽 ——</h1>

    <div class="evaluate-textarea-box1">
        <div class="evaluate-textarea-box">
        <textarea name="" id="" cols="30" rows="10" class="evaluate-textarea1"></textarea>
        </div>
    </div>


    <div class="fixed-submit-box white">
        <div class="fixed-submit-box-btn">提交</div>
    </div>
</div>