<div class="white-bg" ng-controller="evaluate">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">评价</span>
    </div>

    <dl class="alreadyOrder-service-box">
        <div class="service-avatar">
            <div class="alreadyOrder-service-avatar-box">
                <div class="alreadyOrder-service-avatar-bg"></div>
                <div class="alreadyOrder-service-avatar-img"></div>
            </div>
        </div>
        <dd class="service-gray-info ">
            <h6>工程师： 刘清明</h6>
        </dd>
    </dl>

    <div class="evaluate-box">
        <div class="zhai-textarea-box1">
            <textarea name="" id="" class="zhai-textarea" placeholder="解决方案描述"></textarea>
        </div>
    </div>
 <div class="evaluate-table-wrap">
    <table>
        <tr>
            <td style="width:6em">技术水平</td>
            <td class="tr">
                <div class="service-star">
                    <i class="iconfont selected">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                </div>
            </td>
        </tr>
        <tr>
            <td>服务态度</td>
            <td class="tr">
                <div class="service-star">
                    <i class="iconfont selected">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                </div>
            </td>
        </tr>
        <tr>
            <td>及时上门</td>
            <td class="tr">
                <div class="service-star">
                    <i class="iconfont selected">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                    <i class="iconfont">&#xe62e;</i>
                </div>
            </td>
        </tr>
    </table>
 </div>
    <div class="fixed-submit-box">评价</div>
</div>