<div class="page-gray-bg" ng-controller="feedback">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">意见反馈</span>
    </div>


    <div class="feedback-wrap">
        <div class="feedback-title">
            请填写您的反馈意见
        </div>
        <div class="feedback-textarea-box1">
            <!--手机端下placeholder字太多会导致不换行的-->
            <textarea name="" id="" class="feedback-textarea1" placeholder="我们希望您的百分百满意"></textarea>
        </div>
    </div>

    <div class="feedback-sub-box">
        <div class="lr-submit">提交</div>
    </div>

</div>
