<div class="white-bg" ng-controller="forgetPassword">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">忘记密码</span>
    </div>

    <div class="login-wrap" ng-show="!step" ng-init="step=0">
        <div class="register-input-box cl">
            <div class="register-name">用户姓名</div>
            <div class="register-input">
                <input type="text" name="" id="tel" placeholder="请输入手机号">
            </div>
        </div>

        <div class="register-input-box1 cl">
            <div class="register-name"><span class="half-justify">验证</span>码</div>
            <div class="reg-yzm-get">获取验证码</div>
            <div class="register-input">
                <input type="text" name="" id="yzm" placeholder="请输入验证码">
            </div>
        </div>

        <div class="lr-submit" ng-click="step=1">下一步</div>
    </div>


    <div class="login-wrap" ng-show="step">
        <div class="register-input-box cl">
            <div class="register-name"><span class="half-justify">新密</span>码</div>
            <div class="register-input">
                <input type="password" name="" id="passwd" placeholder="请输入6-18位密码">
            </div>
        </div>

        <div class="register-input-box cl">
            <div class="register-name">请再输入</div>
            <div class="register-input">
                <input type="password" name="" id="repasswd" placeholder="请输入6-18位密码">
            </div>
        </div>

        <div class="lr-submit">确认</div>
        <div class="lr-back">返回首页</div>
    </div>

</div>