<div class="page-gray-bg" ng-controller="appindex" style="position: relative">

    <div class="zkx-header app">
        <div class="left-icon">北京市<i class="iconfont icon-moreunfold"></i></div>
        <span class="logo"></span>
        <div class="right-icon"><i class="iconfont icon-gouwuche"></i></div>
    </div>

    <section id="banner">
        <ul class="bxslider">
            <li><a href="javascript:void(0)"><img src="assets/img/banner_show.jpg" alt="" width="100%"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/banner_show.jpg" alt="" width="100%"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/banner_show.jpg" alt="" width="100%"/></a></li>
        </ul>
    </section>

</div>



<!--
<div class="bg-gray-pa"></div>
<div class="fixed-box" id="fixedBox">
    <div class="arrow1" id="arrow1">
        <span class="fl" id="quxiao">取消</span>
        <span class="orange">选择时间</span>
        <span class="fr orange" id="queding">确定</span>
    </div>
    <ul id="timeTable">
        <li class="checked" data-id="17" id="xuanzelie17">08:00-08:30</li>
        <li data-id="36" id="xuanzelie36">17:30-18:00</li>
        <li><input type="text" name="" id="appDate" placeholder="请选择日期"></li>

        <li><input type="text" name="" id="chooseDate1" placeholder="请选择工作时长"></li>
    </ul>
</div>-->
