<div class="white-bg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">瓷砖美鏠</span>
    </div>


    <div class="separate-line"></div>
    <div class="sub-type">
        <ul>
            <li class="active">填缝剂</li>
            <li>美纹纸</li>
            <li>美缝剂</li>
        </ul>
    </div>
    <div class="separate-line1"></div>

    <div class="goods-list-show1">
        <div class="pic-box">
            <div class="tips">立即预约 免费上门服务</div>
        </div>
        <div class="price-info-box cl">
            <div class="price-share">
                <div class="share-text">
                    <i class="iconfont">&#xe60e;</i>
                </div>
                <p class="share-txt">分享</p>
            </div>
            <div class="price-info">
                <div class="price-box">
                    <span class="price">19.5</span><span class="font-total">元/起</span>
                    <div class="tuijian">　达人推荐　</div><div class="linju">邻居帮你施工</div>
                </div>
            </div>
        </div>

        <div class="gray-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe60b;</i>
            </div>
            <ul class="arrow-left-box arrow-left-ul">
                <li><i class="iconfont iconfontOK">&#xe60a;</i>正品保障</li>
                <li><i class="iconfont iconfontOK">&#xe60a;</i>环保材料</li>
                <li><i class="iconfont iconfontOK">&#xe60a;</i>售后无忧</li>
            </ul>
        </div>
        <div class="gray-arrow-right cl">
            <div class="arrow-right">
                <i class="iconfont">&#xe60b;</i>
            </div>
            <div class="arrow-left-title">请选择材料</div>
        </div>

        <div class="text-line-bottom">
            <b>产品详情</b>
        </div>
    </div>

    <div class="fixed-submit-box">
        立即预定
    </div>
</div>
