<div class="page-gray-bgdown" ng-controller="appindex" style="position: relative">

    <div class="zkx-header app">
        <div class="left-icon">北京市<i class="iconfont icon-moreunfold"></i></div>
        <span class="logo"></span>
        <div class="right-icon"><i class="iconfont icon-gouwuche"></i></div>
    </div>

    <section id="banner">
        <ul class="bxslider">
            <li><a href="javascript:void(0)"><img src="assets/img/banner_show.jpg" alt="" width="100%"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/banner_show.jpg" alt="" width="100%"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/banner_show.jpg" alt="" width="100%"/></a></li>
        </ul>
    </section>

    <div class="page-menu-block">
        <section class="news-section">
            <h1 class="cl">
                维修安装
                <a href="#">
                    <i class="iconfont icon-more more"></i>
                </a>
            </h1>
        </section>
        <ul class="appIndex-menu-box cl">
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon1.jpg)"></em>灯具电路</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon2.jpg)"></em>龙头管件</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon3.jpg)"></em>卫浴洁具</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon4.jpg)"></em>打孔疏通</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon5.jpg)"></em>家居杂修</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon6.jpg)"></em>门窗家居</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon7.jpg)"></em>墙面地面</a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/indexicon8.jpg)"></em>地暖暖气</a></li>
        </ul>
    </div>

    <div class="page-menu-block">
        <section class="news-section">
            <h1 class="cl">
                局部换新
                <a href="#">
                    <i class="iconfont icon-more more"></i>
                </a>
            </h1>
        </section>
        <ul class="appIndex-menu-box2 cl">
            <li><a href=""><em style="background-image:url(assets/image/index/s1.jpg)"></em></a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/s2.jpg)"></em></a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/s3.jpg)"></em></a></li>
            <li><a href=""><em style="background-image:url(assets/image/index/s4.jpg)"></em></a></li>
        </ul>
    </div>

    <div class="page-menu-block">
        <section class="news-section">
            <h1 class="cl">
                局部改造
                <a href="#">
                    <i class="iconfont icon-more more"></i>
                </a>
            </h1>
        </section>
        <ul class="appIndex-menu-box3 cl">
            <li>
                <a href="" style="background-image:url(assets/image/index/t1.jpg)">
                </a>
                <div class="appIndex-white-dec cl">
                    <h2  class="appIndex-font-title">厨房改造</h2>
                    <dl class="appIndex-font-box">
                        <dt>
                            元/ <br>
                            5㎡
                        </dt>
                        <dd class="price-num">
                            29500
                        </dd>
                    </dl>
                    <div class="appIndex-font-icon cl">
                        <p class="package1"></p>
                        <p class="package2"></p>
                        <p class="package3"></p>
                    </div>
                </div>
            </li>

            <li>
                <a href="" style="background-image:url(assets/image/index/t2.jpg)">
                </a>
                <div class="appIndex-white-dec cl">
                    <h2  class="appIndex-font-title">卫生间改造</h2>
                    <dl class="appIndex-font-box">
                        <dt>
                            元/ <br>
                            40㎡
                        </dt>
                        <dd class="price-num">
                            17900
                        </dd>
                    </dl>
                    <div class="appIndex-font-icon cl">
                        <p class="package1"></p>
                        <p class="package2"></p>
                        <p class="package3"></p>
                    </div>
                </div>
            </li>

            <li>
                <a href="" style="background-image:url(assets/image/index/t3.jpg)">
                </a>
                <div class="appIndex-white-dec cl">
                    <h2  class="appIndex-font-title">阳台改造</h2>
                    <dl class="appIndex-font-box">
                        <dt>
                            元/ <br>
                            3㎡
                        </dt>
                        <dd class="price-num">
                            2200
                        </dd>
                    </dl>
                    <div class="appIndex-font-icon cl">
                        <p class="package1"></p>
                        <p class="package2"></p>
                        <p class="package3"></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>



<!--
<div class="bg-gray-pa"></div>
<div class="fixed-box" id="fixedBox">
    <div class="arrow1" id="arrow1">
        <span class="fl" id="quxiao">取消</span>
        <span class="orange">选择时间</span>
        <span class="fr orange" id="queding">确定</span>
    </div>
    <ul id="timeTable">
        <li class="checked" data-id="17" id="xuanzelie17">08:00-08:30</li>
        <li data-id="36" id="xuanzelie36">17:30-18:00</li>
        <li><input type="text" name="" id="appDate" placeholder="请选择日期"></li>

        <li><input type="text" name="" id="chooseDate1" placeholder="请选择工作时长"></li>
    </ul>
</div>-->
