<div class="page-bg" ng-controller="myOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>

        <div class="s-input-select">
        <div class="s-input-frame">
            <form class="c-form-suggest" id="J_Search" method="get" action="/h5">
                <div class="c-form-btn"><input type="submit" name="search" class="icons-search"></div>
                <div class="s-form-search search-form">
                    <input type="search" name="q" class="J_autocomplete" autocomplete="off" value="">
                    <button style="display: none;"><span></span></button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <div class="mycard-wrap">
        <div class="swiper-container">
            <ol class="swiper-wrapper">
                <li data-code="waitPay" class="swiper-slide">全部</li>
                <li data-code="waitSend" class="swiper-slide cur">厨房改造</li>
                <li data-code="waitConfirm" class="swiper-slide">卫生间改造</li>
                <li data-code="waitRate" class="swiper-slide">阳台改造</li>
                <li data-code="waitPay" class="swiper-slide">老人房改造</li>
                <li data-code="waitConfirm" class="swiper-slide">儿童房改造</li>
                <li data-code="waitRate" class="swiper-slide">龙头换新</li>
                <li data-code="waitPay" class="swiper-slide">橱柜换新</li>
                <li data-code="waitConfirm" class="swiper-slide">散热器换新</li>
                <li data-code="waitRate" class="swiper-slide">吸顶灯换新</li>
            </ol>
       </div>

        <div class="jubugaizao-menu-block">
            <ul class="appIndex-menu-box3 cl">
                <li>
                    <a href="" style="background-image:url(assets/image/index/t1.jpg)">
                    </a>
                    <div class="appIndex-white-dec cl">
                        <h2  class="appIndex-font-title">厨房改造</h2>
                        <dl class="appIndex-font-box">
                            <dt class="price-num">
                                29500
                            </dt>
                            <dd>
                                元/ <br>
                                5㎡
                            </dd>
                        </dl>
                        <div class="appIndex-font-icon cl">
                            <p class="package1"></p>
                            <p class="package2"></p>
                            <p class="package3"></p>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="" style="background-image:url(assets/image/index/t2.jpg)">
                    </a>
                    <div class="appIndex-white-dec cl">
                        <h2  class="appIndex-font-title">卫生间改造</h2>
                        <dl class="appIndex-font-box">
                            <dt class="price-num">
                                17900
                            </dt>
                            <dd>
                                元/ <br>
                                5㎡
                            </dd>
                        </dl>
                        <div class="appIndex-font-icon cl">
                            <p class="package1"></p>
                            <p class="package2"></p>
                            <p class="package3"></p>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="" style="background-image:url(assets/image/index/t3.jpg)">
                    </a>
                    <div class="appIndex-white-dec cl">
                        <h2  class="appIndex-font-title">阳台改造</h2>
                        <dl class="appIndex-font-box">
                            <dt class="price-num">
                                2200
                            </dt>
                            <dd>
                                元/ <br>
                                5㎡
                            </dd>
                        </dl>
                        <div class="appIndex-font-icon cl">
                            <p class="package1"></p>
                            <p class="package2"></p>
                            <p class="package3"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>


