<div class="page-gray-bg" ng-controller="location">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont cross-left">&#xe69a;</i></div>
        <span class="logo">当前地区-北京市</span>
    </div>

    <div class="page-wrap">

        <div class="find-select-wrap">
            <div class="find-select-input-box">
                <dl class="cl">
                    <dt><div class="icons-search"></div></dt>
                    <dd><input type="text" name="" id="" class="find-select-input" placeholder="城市/行政区"/></dd>
                </dl>
            </div>
        </div>

        <div class="location-title">
            <div class="location-title-line"></div>
            <span class="location-title-span">定位城市</span>
        </div>

        <ul class="location-block-box">
            <li>北京市</li>
        </ul>


        <div class="location-title">
            <div class="location-title-line"></div>
            <span class="location-title-span">最近访问城市</span>
        </div>

        <ul class="location-block-box">
            <li>北京市</li>
            <li>天津市</li>
        </ul>

        <div class="location-title">
            <div class="location-title-line"></div>
            <span class="location-title-span">已开通城市</span>
        </div>


        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box cl">
                <div class="orderDetail-name ft28">北京市</div>
            </div>
            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name ft28">天津市</div>
            </div>
        </div>

    </div>



</div>