<div class="white-bg" ng-controller="malfunctionDetail">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">故障详情</span>
    </div>

    <div class="zhai-textarea-wrap">
        <div class="zhai-textarea-box">
            <textarea name="detail_textarea" class="zhai-textarea" placeholder="故障详情"></textarea>
        </div>
    </div>


    <div class="malfunctionDetail-pic">
        <ul class="cl">
            <li style="background-image:url(assets/img/photo_show.jpg)"></li>
        </ul>
        <h4 class="malfunctionDetail-h4-title">故障现场照片</h4>
    </div>

    <div class="malfunctionDetail-pic">
        <ul class="cl">
            <li style="background-image:url(assets/img/photo_show.jpg)"></li>
            <li style="background-image:url(assets/img/photo_show.jpg)"></li>
            <li style="background-image:url(assets/img/photo_show.jpg)"></li>
            <li style="background-image:url(assets/img/photo_show.jpg)"></li>
        </ul>
    </div>

    <div class="malfunctionDetail-order-info">订单系统信息</div>

    <div class="malfunctionDetail-order-list">
        <div class="malfunctionDetail-order-box">
            <h4>2016.3.15 14:35</h4>
            <p>下单成功，正在为您分配修缮工程师</p>
        </div>
        <div class="malfunctionDetail-order-box">
            <h4>2016.3.15 14:35</h4>
            <p><span class="selected">李大嘴</span>，正在为您服务</p>
        </div>
        <div class="malfunctionDetail-order-box">
            <h4>2016.3.15 14:35</h4>
            <p>下单成功，正在为您分配修缮工程师</p>
        </div>
    </div>
</div>