<div class="page-bg" ng-controller="message">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">我的消息</span>
    </div>

    <div class="message-wrap">

        <div class="nav-tab-top">
            <ul>
                <li data-code="waitPay"><span>公告</span></li>
                <li data-code="waitRate"><span class="active">通知</span></li>
            </ul>
        </div>

        <div class="message-list">
            <ul>
                <li class="message-list-item">
                    <dl class="cl">
                        <dt>
                            <div class="images" style="background-image:url(assets/image/default_user.jpg);"></div>
                        </dt>
                        <dd class="info">
                            <h4>关于订单12331231232罚金处理</h4>
                            <div class="text-info">2017-04-04</div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
   </div>
</div>





