<div class="page-gray-bg" ng-controller="reg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">我的银行卡</span>
    </div>

    <div class="mycard-wrap">
        <ul class="mycard-box">
            <dl class="cl">
                <dt>
                    <div class="images" style="background-image:url(assets/image/bank/ps_abc.png);"></div>
                </dt>
                <dd class="info">
                    <h4>建设银行（3046）</h4>
                    <div class="text-info">储蓄</div>
                </dd>
            </dl>

            <dl class="cl">
                <dt>
                <div class="images" style="background-image:url(assets/image/bank/ps_ccb.png);"></div>
                </dt>
                <dd class="info">
                    <h4>工商银行（3046）</h4>
                    <div class="text-info">储蓄</div>
                </dd>
            </dl>
        </ul>
        <a class="mycard-del">删除</a>
    </div>

</div>

