<div class="white-bg" ng-controller="myOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div><span class="logo">我的订单</span>
    </div>
    <div class="separate-line"></div>

    <section class="myorder-list">


        <div class="myorder-box">
            <h4 class="myorder-order-h4">
                <div class="myorder-order-num">订单号：K1234678</div>
                <div class="myorder-title">宅快修 卫生间</div>
            </h4>
            <ul class="cl">
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
            </ul>
            <div class="myorder-separate-line"></div>

            <div class="myorder-tinfo">
                <span class="gray">订单时间：2016.4.16</span>
                <span class="red">合计：¥188元</span>
            </div>
            <ol class="myorder-button-box">
                <li class="active">立即付款</li>
                <li class="org">评价</li>
                <li>查看详情</li>
            </ol>
        </div>
        <div class="myorder-box-decoration"></div>

    </section>
</div>