<div class="page-gray-bg" ng-controller="reg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">我的余额</span>
    </div>

    <div class="guarantee-wrap">

        <div class="guarantee-box">
            <h6>帐户余额（元）</h6>
            <h1>2000</h1>
        </div>

        <div class="page-menu-box">
            <div class="page-list-item">本月</div>
            <dl class="page-list-dl cl">
                <dt class="">+5162.48</dt>
                <dd>
                    <h3>北京</h3>
                    <h4>交易单号：45296324586</h4>
                    <h5>2017-01-05</h5>
                </dd>
            </dl>
            <dl class="page-list-dl cl">
                <dt class="">+5162.48</dt>
                <dd>
                    <h3>北京</h3>
                    <h4>交易单号：45296324586</h4>
                    <h5>2017-01-05</h5>
                </dd>
            </dl>
            <div class="page-list-item-center">查看更多 <i class="iconfont arrow-icon">&#xe6a7;</i></div>
        </div>
    </div>

</div>