<div class="page-bg" ng-controller="myOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>

        <div class="s-input-select">
        <div class="s-input-frame">
            <form class="c-form-suggest" id="J_Search" method="get" action="/h5">
                <div class="c-form-btn"><input type="submit" name="search" class="icons-search"></div>
                <div class="s-form-search search-form">
                    <input type="search" name="q" class="J_autocomplete" autocomplete="off" value="">
                    <button style="display: none;"><span></span></button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <div class="mycard-wrap">

        <table class="pro-item-table">
            <tr>
                <td width="33%"><span class="pro-item-btn">　项目　</span></td>
                <td width="34%"><span class="pro-item-btn">换新套餐</span></td>
                <td width="33%"><span class="pro-item-btn active">改造套餐</span></td>
            </tr>
        </table>

        <div class="swiper-container">
            <ol class="swiper-wrapper">
                <li data-code="waitPay" class="swiper-slide">全部</li>
                <li data-code="waitSend" class="swiper-slide cur">厨房改造</li>
                <li data-code="waitConfirm" class="swiper-slide">卫生间改造</li>
                <li data-code="waitRate" class="swiper-slide">阳台改造</li>
                <li data-code="waitPay" class="swiper-slide">老人房改造</li>
                <li data-code="waitConfirm" class="swiper-slide">儿童房改造</li>
                <li data-code="waitRate" class="swiper-slide">龙头换新</li>
                <li data-code="waitPay" class="swiper-slide">橱柜换新</li>
                <li data-code="waitConfirm" class="swiper-slide">散热器换新</li>
                <li data-code="waitRate" class="swiper-slide">吸顶灯换新</li>
            </ol>
       </div>

        <div class="pro-list">
            <div class="pro-box">
                <dl class="cl p10">
                    <dt>
                    <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                    </dt>
                    <dd class="info s">
                        <h2>卫生间改造<span class="gray-txt">(经济适用型)</span></h2>
                        <div class="text-info">适用于墙面脱落、无法修补，可以直接涂刷的墙面适用于墙面脱落、无法修补，直接</div>
                        <div class="price">
                            <em class="money">￥7900</em>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="total-fix-bar">
            <dl >
                <dt class="cl">
                    <div class="total-fix-bar-btn" >提交报价</div>
                </dt>
                <dd>
                    <span class="mr3">面积：<span class="orange">5㎡</span></span>     报价：<span class="orange">¥18252</span>
                </dd>
            </dl>
        </div>

    </div>

</div>


