<div class="page-gray-bgdown" ng-controller="orderDetail">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">订单详情</span>
        <div class="right-icon"></div>
    </div>
    <div class="page-wrap">
        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box cl">
                <div class="orange fl">订单追踪</div>
                <div class="fr">2017-04-20   8:30</div>
            </div>

            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">技师已接单</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            </div>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box">
                <span class="orange">上门信息</span>
            </div>

            <div class="orderDetail-info-box cl">
                <div class="orderDetail-name">上门时间：</div>
                <div class="orderDetail-info1">2016-11-5   9:00</div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">服务地址：</div>
                <div class="orderDetail-info1">
                    王女士  15230625382 <br>
                    北京市 丰台区 天龙华鹤B座1217
                    北京市 丰台区 天龙华鹤B座1217
                    北京市 丰台区 天龙华鹤B座1217
                </div>
                <div class="poa-fly">
                    <i class="iconfont">&#xe620;</i>
                </div>
            </div>

            <div class="orderDetail-info-box1 border0 cl">
                <div class="orderDetail-name1">备注：</div>
                <div class="orderDetail-info1">
                    我们家这边漏水反复好多次了，以前也找人修过，
                    而且现在还有点漏，希望能够快点给解决
                </div>
            </div>
        </div>


        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box2 cl">
                <span class="orange">服务项目</span>
            </div>

            <div class="fourth-part pl0">
                <dl class="cl p10">
                    <dt>
                    <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                    </dt>
                    <dd class="info s">
                        <h3 class="orange">卫生间改造套餐卫生间改造套餐卫生间改
                            造套餐<span class="gray-txt">(经济适用型)</span></h3>
                        <div class="text-info">30㎡起（含30㎡）</div>
                    </dd>
                </dl>
                <div class="price">
                    <em class="money">7900</em><span class="yuan">元</span>
                </div>
            </div>

        </div>


        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box">
                <span class="orange">服务人员</span>
            </div>

            <div class="orderDetail-info-box cl">
                <div class="orderDetail-name">上门时间：</div>
                <div class="orderDetail-info1">2016-11-5   9:00</div>
            </div>

            <div class="orderDetail-info-box-other cl">
                <div class="orderDetail-name">服务地址：</div>
                <div class="orderDetail-info1">
                    王女士  15230625382 <br>
                    工长：李文军
                    电话：15230625382
                    工号：2536485285
                    工种：工长
                </div>
                <div class="poa-fly">
                    <i class="iconfont">&#xe620;</i>
                </div>
            </div>

            <div class="orderDetail-info-box1 border0 cl">
                <div class="orderDetail-name1">备注：</div>
                <div class="orderDetail-info1">
                    我们家这边漏水反复好多次了，以前也找人修过，
                    而且现在还有点漏，希望能够快点给解决
                </div>
            </div>
        </div>

    </div>
</div>