<div class="page-gray-bgdown" ng-controller="orderList">
<div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">订单</span>
    </div>

    <div class="orderList-wrap">

        <div class="nav-tab-top">
            <ul>
                <li data-code="waitPay" class="">新订单</li>
                <li data-code="waitSend" class="cur">待确认</li>
                <li data-code="waitConfirm" class="">
                    <div class="red-number">7</div>
                    服务中
                </li>
                <li data-code="waitRate" class="">已完工</li>
            </ul>
        </div>

        <div class="order-list">
            <ul class="order-list-box">
                <li class="order-list-item">
                    <div class="first-part cl">
                        <h1 class="title">订单编号：15654564544</h1>
                        <div class="order-erweima-box"><em class="iconfont">&#xe606;</em></div>
                    </div>
                    <div class="second-part">
                        <dl>
                            <dt>
                                <div class="avatar-box1">
                                    <div class="avatar-bg1"></div>
                                    <div class="avatar-img1" style="background-image:url(assets/img/default_user.jpg);"></div>
                                </div>
                            </dt>
                            <dd class="info">
                                <h4>林女士<small class="icon-img-female"></small></h4>
                                <div class="text-info">北京市丰台区卢沟桥晓月苑8里2号楼2202
                                </div>
                                <p class="text">上门时间：016-10-30  9:00</p>
                            </dd>
                        </dl>
                        <div class="flyto">
                            <em class="iconfont">&#xe6d9;</em>
                        </div>
                    </div>
                    <div  class="third-part">
                        <div class="merchandise-box">
                            <div class="info-title">
                                <div class="info-name">工费：</div>
                                <div class="info-total">工费收入:158元</div>
                            </div>
                            <div class="merchandise-item-box">
                                <ul>
                                    <li>
                                        <div class="item-info">拆卸卫浴等</div>
                                        <div class="item-num">X1</div>
                                        <div class="item-price">25元</div>
                                    </li>
                                    <li>
                                        <div class="item-info">拆卸卫浴等</div>
                                        <div class="item-num">X1</div>
                                        <div class="item-price">25元</div>
                                    </li>
                                    <li>
                                        <div class="item-info">拆卸卫浴等dsaijdoasjdasiodjsioz</div>
                                        <div class="item-num">X1</div>
                                        <div class="item-price">25元</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="merchandise-box">
                            <div class="info-title">
                                <div class="info-name">工费：</div>
                                <div class="info-total">工费收入:158元</div>
                            </div>
                            <div class="merchandise-item-box">
                                <ul>
                                    <li>
                                        <div class="item-info">拆卸卫浴等</div>
                                        <div class="item-num">X1</div>
                                        <div class="item-price">25元</div>
                                    </li>
                                    <li>
                                        <div class="item-info">拆卸卫浴等</div>
                                        <div class="item-num">X1</div>
                                        <div class="item-price">25元</div>
                                    </li>
                                    <li>
                                        <div class="item-info">拆卸卫浴等dsaijdoasjdasiodjsioz</div>
                                        <div class="item-num">X1</div>
                                        <div class="item-price">25元</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fifth-party">
                            <button class="mybtn">上门签到</button>
                    </div>
                </li>

                <li>
                    <div class="first-part cl">
                        <h1 class="title">订单编号：15654564544</h1>
                        <div class="order-erweima-box"><em class="iconfont">&#xe606;</em></div>
                    </div>
                    <div  class="second-part">
                        <dl>
                            <dt>
                            <div class="avatar-box1">
                                <div class="avatar-bg1"></div>
                                <div class="avatar-img1" style="background-image:url(assets/img/default_user.jpg);"></div>
                            </div>
                            </dt>
                            <dd class="info">
                                <h4>林先生<small class="icon-img-male"></small></h4>
                                <div class="text-info">北京市丰台区卢沟桥晓月苑8里2号楼2202
                                </div>
                                <p class="text">上门时间：016-10-30  9:00</p>
                            </dd>

                        </dl>
                        <div class="flyto">
                            <em class="iconfont">&#xe6d9;</em>
                        </div>
                    </div>
                    <div  class="fourth-part">
                        <dl class="cl">
                            <dt>
                                <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                            </dt>
                            <dd class="info">
                                <h4 class="orange">墙漆换新<span class="gray-txt">（快速刷新）</span></h4>
                                <div class="text-info">30㎡起（含30㎡）</div>
                            </dd>
                        </dl>
                        <div class="price">
                            <em class="money">7900</em><span class="yuan">元</span>
                        </div>
                    </div>
                    <div class="fifth-party">
                        <button class="mybtn">报价</button>
                        <button class="mybtn">离开签退</button>
                        <button class="mybtn">服务完成</button>
                    </div>
                </li>
            </ul>
        </div>
   </div>
    <div class="footnav">
        <ul>
            <li class="active"><a href="/M/Index/index.html"><em class="order"></em><b>订单</b></a></li>
            <li><a href="#/find"><em class="store"></em><b>加盟店</b></a></li>
            <li><a href="/M/UserMenu/index.html"><em  class="mine"></em><b>我的</b></a></li>
        </ul>
    </div>
</div>





