<div class="index-bg" ng-controller="quality">
    <div class="quality">

            <h5><i class="iconfont icon-iconbao" style="font-size:.31rem"></i>正品保障</h5>
            <p>美缝剂产品全部采用正规一线品牌商家产品，表面光滑如瓷，防水，瓷砖缝隙“永不变黑”</p>

            <h5><i class="iconfont icon-iconchilun1"></i>环保安全</h5>
            <p>高科技新型聚合物和高档颜料组成，环保无毒，24小时后速干</p>

            <h5><i class="iconfont icon-iconchilun2"></i>售后无忧</h5>
            <p>专业施工技师施工，保障质量，服务直至满意为止</p>

        <div class="lr-submit">完成</div>
    </div>
</div>












