<div class="page-gray-bg" ng-controller="reg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">报价单</span>
    </div>

    <div class="register-wrap">
        <div class="quotationSheet-input-box cl">
            <div class="quotationSheet-input-name">*实际测量面积(㎡)</div>
            <div class="quotationSheet-input">
                5㎡
            </div>
        </div>

        <div class="quotationSheet-input-box cl">
            <div class="quotationSheet-input-name">卫生间改造报价(¥)</div>
            <div class="quotationSheet-input">
                5㎡
            </div>
        </div>
    </div>

    <div class="white-block">

        <div class="quotationSheet-title orange">套餐明细</div>
        <div class="quotationSheet-item-title">主材</div>
        <div class="quotationSheet-main">

            <dl class="quotationSheet-main-box">
                <div class="quotationSheet-pic-box">
                    <div class="quotationSheet-pic" style="background-image:url(assets/image/photo_show.jpg)">
                    </div>
                </div>
                <dd class="service-gray-info">
                    <h3>墙砖<span class="gray-txt">（满铺）</span></h3>
                    <h5>瑞诺PMR53023  400*400</h5>
                </dd>
            </dl>

        </div>
        <div class="quotationSheet-item-title">辅材</div>
        <div class="quotationSheet-asm">
            <ul class="cl">
                <li>
                    <b style="background-image:url(assets/image/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
                <li>
                    <b style="background-image:url(assets/image/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
                <li>
                    <b style="background-image:url(assets/image/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
                <li>
                    <b style="background-image:url(assets/image/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
            </ul>
        </div>
    </div>

    <div class="white-block">
        <div class="quotationSheet-title">人工服务（全包）</div>
        <div class="reg-new-box">
            <li>拆除</li>
            <li>电路</li>
            <li class="active">瓷砖保护</li>
        </div>
    </div>

    <div class="gray-box1">
            <div class="lr-submit">修改报价</div>
        </div>
    </div>

</div>