
<div class="index-bg" ng-controller="asksuc" style="position: relative">
<!--    <div class="bg-gray-pa">
        <div class="bg-show">
            <h2 class="asksuc-h2 orange">墙漆换新</h2>
            <ul class="replacechoose-list-item-box">
                <li class="replacechoose-list-item">
                    <h4>39/㎡</h4>
                    <p>两遍底漆+一遍面漆</p>
                </li>
                <li class="replacechoose-list-item">
                    <h4>39/㎡</h4>
                    <p>两遍底漆+一遍面漆</p>
                </li>
                <li class="replacechoose-list-item">
                    <h4>39/㎡</h4>
                    <p>两遍底漆+一遍面漆</p>
                </li>
            </ul>
            <div class="ask-cross"><i class="iconfont">&#xe640;</i></div>
        </div>
    </div>-->
<!--    <div class="bg-gray-pa">
        <div class="bg-show">
            <h1 class="asksuc-h1 orange">扫码付款</h1>
            <div class="ask-erweima"  style="background-image:url(assets/img/default_user.jpg);"></div>
            <div class="ask-tips">
                <span>—</span> 订单15654564544 <span>—</span>
            </div>
            <div class="ask-erwei-round ask-erwei-round-left"></div>
            <div class="ask-erwei-round ask-erwei-round-right"></div>
            <div class="ask-cross"><i class="iconfont">&#xe640;</i></div>
        </div>
    </div>-->
    <div class="bg-gray-pa">
        <div class="bg-show left">
            <h2 class="asksuc-h2">温馨提示</h2>
            <div class="ask-cross-left"><i class="iconfont">&#xe640;</i></div>
            <div class="ask-tips-box">
                您的证件已超出使用期限
            </div>
        </div>
    </div>
</div>