<div class="page-gray-bg" ng-controller="userInfo">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">服务信息</span>
    </div>


    <div class="page-wrap">

        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">进场时间</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            </div>

            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">日期（工作日)</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            </div>

            <div class="orderDetail-info-box1 border0 cl">
                <div class="orderDetail-name1">备注：</div>
                <div class="orderDetail-info1">
                    我们家这边漏水反复好多次了，以前也找人修过，
                    而且现在还有点漏，希望能够快点给解决
                </div>
            </div>

        </div>

    </div>

    <div class="fixed-submit-box" >
        <div class="fixed-submit-box-btn">确认</div>
    </div>
</div>