<div class="white-bg" ng-controller="zhaihuanxin">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">服务条款</span>
    </div>

    <div class="text-line">
        <b>服务流程</b>
    </div>
    <div class="mb4">
        <img src="assets/img/order.jpg" width="100%" >
    </div>
    <div class="text-line">
        <b>服务协议</b>
    </div>
    <article class="serviceTreaty-article">
        写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？写一个移动端显示图片列表的web，以往都是使用jQuery的延迟加载插件来实现这一功能的，但是现在要求不能使用jQuery以及其他插件，仅使用angularjs实现这个功能。图片的路径是存储在一个json中，通过读取json的数据ng-repeat出来的。
        请问有什么好的解决方法？
    </article>
</div>