<div class="page-gray-bg" ng-controller="sheetDetail">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">报价单</span>
    </div>

<div class="page-wrap">

    <div class="sheet-menu-box">
        <div class="sheet-order-box">
             <h5>预算总额（元）</h5>
             <h3>5000.00</h3>
        </div>
        <div class="sheet-rowspan">
            <span class="sheet-span">
                <h2>商口费用：2000</h2>
            </span>
            <span class="sheet-span">
                <h2 class="right">人工费用：2800</h2>
            </span>
        </div>
    </div>


    <div class="orderDetail-menu-box">

        <div class="sheet-input-box border0 cl">
            <div class="sheet-name">实际测量面积</div>
            <div class="register-input">
                <input type="text" name="" id="tel" placeholder="请输入实际测量面积" >
            </div>
        </div>
    </div>


    <div class="orderDetail-menu-box">

        <div class="orderDetail-title-box">
            <span>报价明细</span>
        </div>
        <div class="sheet-img-box">
            <dl class="cl">
                <dt>
                    <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                </dt>
                <dd class="info s">
                    <h5>卫生间改造<span class="gray-txt">(经济适用型)</span></h5>
                    <div class="text-info">30㎡起（含30㎡）</div>
                </dd>
            </dl>
            <div class="price">
                <em class="money">￥7900/个</em>
            </div>
        </div>
        <div class="sheet-offer-box cl">
            <div class="fl">
                欧普LED吸顶灯 <br>
                型号：MX420-D0.5*48 <br>
                颜色/规格：3W  米黄色
            </div>
            <div class="fr">
                <div class="price">
                    <em class="money">￥7900/个</em>
                </div>
            </div>
        </div>
        <div class="sheet-rowspan border">
            <span class="sheet-span">
                <button class="sheet-del-btn">删除</button>
            </span>
            <span class="sheet-span">
                <div class="shop-arithmetic">
                    <a href="javascript:;" class="minus">-</a>
                    <span class="num">1</span>
                    <a href="javascript:;" class="plus">+</a>
                </div>
            </span>
        </div>
    </div>

    <div class="orderDetail-menu-box">

        <div class="register-input-box1 cl">
            <div class="register-name">开工现场说明</div>
            <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            <div class="register-input">
                录入开工信息
            </div>
        </div>


        <div class="sheet-input-box border0 cl">
            <div class="sheet-name">开工进场时间</div>
            <div class="register-input">
                2017/05/07
            </div>
        </div>


        <div class="sheet-input-box border0 cl">
            <div class="sheet-name">工期（工作日）</div>
            <div class="register-input">
                <input type="text" name="" id="chooseDate1" placeholder="请选择工期">
            </div>
        </div>

        <div class="memo-input-box cl" style="height: auto">
            <div class="memo-name">备注：</div>
            <div class="register-input">
                <div class="evaluate-box">
                    <div class="feedback-textarea-box1">
                        <textarea name="" id="" class="sheet-textarea1" ></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="gray-box1">
        <div class="lr-submit">提交报价</div>
    </div>
</div>
</div>


</div>