<div class="page-gray-bg" ng-controller="shopList">
    <div class="zkx-header">
        <span class="logo">加盟门店</span>
    </div>

    <div class="page-wrap">
        <div class="shopList-box pl0">
            <dl class="cl p10">
                <dt>
                    <div class="images" style="background-image:url(assets/img/default_user.jpg);"></div>
                </dt>
                <dd class="info s">
                    <h3>宅快修（安慧里店）</h3>
                    <div class="text-info">
                        北京市安慧里店北京市安慧里店 <br>
                        电话：400-662-9528 <br>
                        营业时间：8：00-22：00 <br>
                    </div>
                </dd>
            </dl>
            <div class="poa-fly">
                <i class="iconfont">&#xe620;</i>
            </div>
        </div>
    </div>

</div>