<div class="page-gray-bg" ng-controller="shopcart">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">购物车</span>
    </div>

    <div class="page-wrap">
        <div class="shopcart-box pl0">
            <dl class="cl">
                <dt>
                    <div class="images" style="background-image:url(assets/image/default_user.jpg);"></div>
                </dt>
                <dd class="info s">
                    <h3>宅快修（安慧里店）</h3>
                    <div class="text-info">
                        北京市安慧里店北京市安慧里店 <br>
                    </div>
                    <div class="shopcart-rowspan" style="height: .46rem">
                        <span class="shopcart-span">
                            <div class="orange jiage">￥40.00</div>
                        </span>
                        <span class="shopcart-span">
                            <div class="shopcart">
                                <a href="javascript:;" class="minus">-</a>
                                <span class="num">1</span>
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </span>
                    </div>
                </dd>
                <dd class="poa-choose">
                    <i class="iconfont icon-choose"></i>
                </dd>
            </dl>
        </div>

        <div class="zkxs-fixed-btn-box cl">
            <div class="zkxs-fixed-btn-info-box">
                <div class="zkxs-fixed-btn-info">
                    <i class="iconfont icon-choose zkxs-fixed-iconfont"></i> 合计：<span class="orange">￥166.00</span>
                </div>
            </div>
            <div class="zkxs-fixed-btn bg-gray">结算</div>
        </div>
    </div>

</div>