<div class="white-bg" ng-controller="trackOrder">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="log">订单追踪</span>
        <span class="log cur">服务照片</span>
    </div>


    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block cl">
            <div class="cd-timeline-img" style="background-image:url(assets/image/star_yuan.png)"></div>
            <div class="cd-timeline-content">
                <div class="title cl">
                    <h2 class="fl faqirenname">服务完成图</h2>
                </div>
                <div class="content">
                    <div class="photo-list-border0 cl">
                        <ul>
                            <li id="photoPrimary">
                                <div class="preview" id="photoPrimaryBox">
                                    <input type="hidden" class="hideimageurl" name="picUrl">
                                </div>
                            </li>
                            <li>
                                <div class="preview">
                                    <input type="hidden" class="hideimageurl" name="picUrl">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="cd-timeline-content-memo-box  cl">
                        <div class="cd-timeline-content-memo-name">备注：</div>
                        <div class="cd-timeline-content-memo-info">
                            我们家这边漏水反复好多次了，以前也找人修过，
                            而且现在还有点漏，希望能够快点给解决
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>