<div class="page-gray-bg" ng-controller="uploadService">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">上传服务照片</span>
    </div>

    <div class="page-wrap">
        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box border0 cl">
                <div class="fl">开工前照片</div>
                <div class="fr gray-txt">1-6张 <i class="iconfont ft3 gray-txt">&#xe6a6;</i></div>
            </div>
            <div class="photo-list border0 cl">
                <ul>
                    <li id="photoPrimary">
                        <div class="preview" id="photoPrimaryBox">
                            <input type="hidden" class="hideimageurl" name="picUrl">
                        </div>
                    </li>
                    <li>
                        <div class="preview">
                            <input type="hidden" class="hideimageurl" name="picUrl">
                        </div>
                    </li>
                    <li>
                        <div class="preview" id="addUpload">
                            <span class="add-bg"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="height:1px;margin-left: -.3rem;background:#eee;margin-right: -.3rem"></div>
            <div class="orderDetail-info-box1 cl">
                <div class="orderDetail-name1">备注：</div>
                <div class="orderDetail-info1" style="padding-top: .12rem;
    color: #999;
    line-height: .4rem;">
                    我们家这边漏水反复好多次了，以前也找人修过，
                    而且现在还有点漏，希望能够快点给解决
                </div>
            </div>
            <div style="height:1px;margin-left: -.3rem;background:#eee;margin-right: -.3rem"></div>
            <div class="uploadservice-btn-wrap">
                <div class="uploadservice-btn-box">
                <span>
                    <input type="button" value="关闭" class="reg-btn"/>
                </span>
                    <span class="space"></span>
                <span>
                    <input type="submit" value="确认" class="login-btn"/>
                </span>
                </div>
            </div>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">服务中照片</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            </div>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">完工后照片</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            </div>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">现场保护</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            </div>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">施工拆除</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            </div>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">防水</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a6;</i></div>
            </div>
        </div>

    </div>
</div>