<div class="page-gray-bgdown" ng-controller="youhuiquanTips">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">优惠券</span>
    </div>

    <div class="page-wrap">


        <a class="youhuiquan-tips">
            <i class="iconfont icon-icontishiwenhao"></i>
            优惠券说明
        </a>

        <ul class="youhuiquan-list">
            <li class="cl">
                <div class="round"></div>
                <div class="round bt"></div>

                <div class="fl">
                    <h1 class="orange">￥10</h1>
                    <p class="gray-txt">满50元使用</p>
                </div>
                <div class="fr">
                    <h1 class="orange">全站通用</h1>
                    <p class="gray-txt">有效期2016-12-31</p>
                    <div class="youhuiquan-choose">
                        <i class="iconfont icon-xuanze gray-txt"></i>
                    </div>
                </div>
            </li>
            <li class="cl">
                <div class="round"></div>
                <div class="round bt"></div>

                <div class="fl">
                    <h1 class="orange">￥10</h1>
                    <p class="gray-txt">满50元使用</p>
                </div>
                <div class="fr">
                    <h1 class="orange">全站通用</h1>
                    <p class="gray-txt">有效期2016-12-31</p>
                    <div class="youhuiquan-choose">
                        <i class="iconfont icon-xuanze orange"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


</div>