<div class="page-gray-bgbottom">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo detail-logo">
            卫生间改造
        </span>
        <div class="right-icon"><i class="iconfont icon-fenxiang1"></i></div>
    </div>


    <div class="page-wrap-down">
        <div class="detail-pic">
        </div>
    </div>


    <div class="detail-it-title-box">
        <h2 class="detail-item-title">墙漆换新-快速的核算和杜萨</h2>
        <div class="detail-title-box1 border0 cl">
            <div class="orange fl ft45">￥40.0/个</div>
            <div class="fr gray-txt">销量：654</div>
        </div>
        <div class="feature-box ft24">
            <span class="feature">正品保证</span>
            <span class="feature">一年保质</span>
            <span class="feature">上门服务</span>
            <span class="feature">无增项</span>
            <span class="feature">环保材料</span>
        </div>
    </div>

    <div class="detail-it-title-box">
        <div class="detail-it-title">
            收费标准
        </div>
        <ol class="detail-line">
            <li class="gray-txt">面积以实际测量面积为准</li>
            <li class="gray-txt">技师上门后会根据您家的实际情况作出相应的报价方案</li>
        </ol>
        <div class="detail-it-title">
            温馨提示
        </div>
        <div class="detail-box gray-txt">
            2个起售不倒萨uhidsahdyuiashnd卡首都阿斯 <br/>
            备注大叔地阿萨德闹死
        </div>
    </div>

    <div class="detail-it-title-box">
        <div class="detail-it-title">
            主材
        </div>
        <div class="mainmaterial">
            <ul class="cl">
                <li>
                    <b style="background-image:url(assets/img/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
                <li>
                    <b style="background-image:url(assets/img/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
                <li>
                    <b style="background-image:url(assets/img/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
                <li>
                    <b style="background-image:url(assets/img/photo_show.jpg)"></b>
                    <i>海燕电线</i>
                </li>
            </ul>
        </div>
        <div class="collapse-up">
            收起 <i class="iconfont icon-less"></i>
        </div>
    </div>

    <div class="detail-it-title-box">
        <div class="detail-it-title">
            施工工艺
        </div>



        <section class="detail-timeline">
            <div class="detail-timeline-block cl">
                <div class="detail-timeline-img" style="background-image:url(assets/image/detail-icon-right.jpg)"></div>
                <div class="detail-timeline-content">
                    <div class="content">
                        <div class="detail-time-box">
                            <ul class="cl">
                                <li>
                                    <b style="background-image:url(assets/image/step/step1.jpg)"></b>
                                    <i>检测墙体</i>
                                </li>
                                <li>
                                    <b style="background-image:url(assets/image/step/step2.jpg)"></b>
                                    <i>选定颜色</i>
                                </li>
                                <li>
                                    <b style="background-image:url(assets/image/step/step3.jpg)"></b>
                                    <i>成品保护</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-timeline-block cl">
                <div class="detail-timeline-img" style="background-image:url(assets/image/detail-icon-right.jpg)"></div>
                <div class="detail-timeline-content">
                    <div class="content">
                        <div class="detail-time-box">
                            <ul class="cl">
                                <li>
                                    <b style="background-image:url(assets/image/step/step4.jpg)"></b>
                                    <i>基层修补</i>
                                </li>
                                <li>
                                    <b style="background-image:url(assets/image/step/step5.jpg)"></b>
                                    <i>专业打磨</i>
                                </li>
                                <li>
                                    <b style="background-image:url(assets/image/step/step6.jpg)"></b>
                                    <i>墙漆涂刷</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-timeline-block cl">
                <div class="detail-timeline-img" style="background-image:url(assets/image/detail-icon-right.jpg)"></div>
                <div class="detail-timeline-content">
                    <div class="content">
                        <div class="detail-time-box">
                            <ul class="cl">
                                <li>
                                    <b style="background-image:url(assets/image/step/step7.jpg)"></b>
                                    <i>垃圾清理</i>
                                </li>
                                <li>
                                    <b style="background-image:url(assets/image/step/step8.jpg)"></b>
                                    <i>撤去保护</i>
                                </li>
                                <li>
                                    <b style="background-image:url(assets/image/step/step9.jpg)"></b>
                                    <i>家具归位</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <div class="collapse-up">
            收起 <i class="iconfont icon-less"></i>
        </div>
    </div>

    <div class="detail-it-title-box2">
        <div class="orderDetail-title-box">
            评价专区（75）
        </div>
        <div class="no-rate">
            暂无评价
        </div>
<!--        <ul class="rate-tag">
            <li>好评（75）</li>
            <li>中评（75）</li>
            <li>差评（75）</li>
            <li>有图（75）</li>
        </ul>
        <div class="detail-rate-list">
            <dl class="detail-rate-box">
                <dt>
                <div class="rate-avatar-box">
                    <div class="rate-avatar-bg"></div>
                    <div class="rate-avatar-img" style="background-image:url(assets/img/default_user.jpg);"></div>
                </div>
                </dt>
                <dd>
                    <h1>18015678/9</h1>
                    <div>
                        <span class="evaluate-star">
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont orange">&#xe612;</i>
                            <i class="iconfont gray-txt">&#xe612;</i>
                        </span>
                        <span class="date">2017-02-02</span>
                    </div>
                    <p>
                        发生于ID巴萨与地板那三等奖喀纳斯U盾那是单宁酸记得那时难度赛回答你撒k
                    </p>
                </dd>
            </dl>
        </div>

        <div class="button-container">
            <div class="sys-button">
                <p>查看全部评价</p>
            </div>
        </div>-->
    </div>



    <div class="gray-box0" >
        <div class="address-btns-box">
            <div class="address-btns-cell2">
                <div class="detail-bottom-icon">
                    <em class="iconfont icon-kefu"></em>
                    <b>客服</b>
                </div>
            </div>
            <div class="address-btns-cell2">
            </div>
            <div class="address-btns-cell3">
                <div class="lr-submit">立即预约</div>
            </div>
        </div>
    </div>
</div>

