<div class="zhaimenu-bg" ng-controller="zhaimenu" ng-swipe-left="more()">
    <div class="iwant-pos">
        <img src="assets/img/iwant.png" width="100%">
    </div>
    <ul class="left-help-menu">
        <li>
            <div class="zhaimenu-part">
                <h4 class="iconfont kuaixiu1">&#xe608;</h4>
                <p>宅快修</p>
            </div>
        </li>
        <li>
            <div class="zhaimenu-part">
                <h4 class="iconfont huanxin1">&#xe607;</h4>
                <p>宅换新</p>
            </div>
        </li>
        <li>
            <div class="zhaimenu-part">
                <h4 class="iconfont gaizao1">&#xe606;</h4>
                <p>宅改造</p>
            </div>
        </li>
        <li>
            <div class="zhaimenu-part">
                <h4 class="iconfont tang1">&#xe61a;</h4>
                <p>快修堂</p>
            </div>
        </li>
    </ul>
</div>