<div class="white-bg" ng-controller="zhaihuanxin">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">宅换新</span>
    </div>

    <div class="separate-line"></div>
    <div class="choose-new-type">
        <span>选择换新类型</span>
    </div>
    <div class="choose-new-title avtive">地面换新</div>
    <ul class="choose-new-box">
        <li class="active">瓷砖美鏠</li>
        <li>地砖换新</li>
        <li>地板换新</li>
    </ul>
    <div class="choose-new-title">地面换新</div>
    <ul class="choose-new-box"><li>壁纸换新</li><li>油漆换新</li></ul>
    <div class="choose-new-title">顶面换新</div>
    <div class="choose-new-box">
        <li>顶棚电器更新</li>
        <li>吊顶换新</li>
    </div>
    <div class="choose-new-title">设备换新</div>
    <div class="choose-new-box">
        <li>马桶换新</li>
        <li>木门换新</li>
        <li>吸顶灯换新</li>
        <li>窗户换新</li>
        <li>淋浴房换新</li>
        <li>龙头换新</li>
        <li>升降衣架换新</li>
        <li>散热器换新</li>
        <li>橱柜换新</li>
    </div>
</div>