<div class="page-gray-bg" ng-controller="zhibaojin">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">质保金明细</span>
    </div>

    <div class="page-wrap">

        <div class="page-menu-box">
            <div class="page-list-item orange">本月</div>
            <dl class="page-list-dl cl">
                <dt class=""><input type="button" value="罚款" class="page-list-btn"></dt>
                <dd>
                    <h3 class="orange">+5162.48</h3>
                    <h4>交易单号：45296324586</h4>
                    <h5>2017-01-05</h5>
                </dd>
            </dl>
            <dl class="page-list-dl cl">
                <dt class=""></dt>
                <dd>
                    <h3 class="orange">+5162.48</h3>
                    <h4>交易单号：45296324586</h4>
                    <h5>2017-01-05</h5>
                </dd>
            </dl>
        </div>

        <div class="page-menu-box">
            <div class="page-list-item">12月</div>
            <dl class="page-list-dl cl">
                <dt class=""></dt>
                <dd>
                    <h3 class="orange">+5162.48</h3>
                    <h4>交易单号：45296324586</h4>
                    <h5>2017-01-05</h5>
                </dd>
            </dl>
            <dl class="page-list-dl cl">
                <dt class=""></dt>
                <dd>
                    <h3 class="orange">+5162.48</h3>
                    <h4>交易单号：45296324586</h4>
                    <h5>2017-01-05</h5>
                </dd>
            </dl>
        </div>
    </div>

</div>