<div class="page-gray-bgdown" ng-controller="zhibaojin">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">申退质保金</span>
    </div>

    <div class="page-wrap guarantee">
        <ul class="mycard-box">
            <dl class="cl mt0">
                <dt>
                <div class="images" style="background-image:url(assets/image/bank/ps_abc.png);"></div>
                </dt>
                <dd class="info">
                    <h4>建设银行（3046）</h4>
                    <div class="text-info">储蓄</div>
                </dd>
            </dl>
        </ul>

        <div class="guarantee-box">
            <h6>帐户余额（元）</h6>
            <h1>2000</h1>
        </div>

        <div class="orderDetail-menu-box">
            <div class="orderDetail-title-box cl">
                <div class="fl">请选择申请退质保金的原因</div>
                <div class="fr gray-txt ft20">*此项为必选项</div>
            </div>

            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">回原户籍工作</div>
                <div class="register-arrow"><i class="iconfont icon-choose orange"></i></div>
            </div>

            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">已有稳定的工作收入
                </div>
                <div class="register-arrow"><i class="iconfont icon-xuanze  orange"></i></div>
            </div>

            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">订单量少</div>
                <div class="register-arrow"><i class="iconfont icon-xuanze  orange"></i></div>
            </div>
            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">收入无法得到保障
                </div>
                <div class="register-arrow"><i class="iconfont icon-xuanze  orange"></i></div>
            </div>
            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">操作流程繁琐
                </div>
                <div class="register-arrow"><i class="iconfont icon-xuanze  orange"></i></div>
            </div>



            <div class="guarantee-textarea-box">
                <!--手机端下placeholder字太多会导致不换行的-->
                <textarea name="" id="" class="guarantee-textarea" placeholder="其他申请退质保金的原因"></textarea>
            </div>
        </div>


        <div class="guarantee-tips-box">
            <p>
                *申请提现质保金操作后，平台即认为您停止在我们平台进行服务 <br>
                *在您提出申请后，我们的服务人员会对您的申请进行审核和电话核实 <br>
                *在质保金审核通过并退回后，我们会对您在我平台内的填写的入驻信息进行封停 <br>
            </p>

            <div class="lr-submit">下一步</div>
        </div>
    </div>

</div>