<div class="page-gray-bg" ng-controller="reg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe697;</i></div>
        <span class="logo">质保金</span>
    </div>

    <div class="guarantee-wrap">

        <div class="guarantee-box">
            <h6>帐户余额（元）</h6>
            <h1>2000</h1>
        </div>


        <div class="page-menu-box">
            <div class="orderDetail-info-box  cl">
                <div class="orderDetail-name">质保金明细</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            </div>

            <div class="orderDetail-info-box border0 cl">
                <div class="orderDetail-name">申退押金</div>
                <div class="register-arrow"><i class="iconfont">&#xe6a7;</i></div>
            </div>
        </div>


    </div>

</div>