<div class="zkx-bg" ng-controller="zkx">
    <div class="zkx-ht5"></div>
    <div class="zkx-index-title">
        <img src="assets/img/index_bg1.jpg" alt="" width="100%">
    </div>
    <div class="zkx-ht4"></div>
    <div class="zkx-index-body">
        <ul class="cl">
            <li class="zkx-sign-half1">
                <div class="kuaixiu zkx-big-icon" id="kuaixiu">
                    <h4 class="iconfont">&#xe608;</h4>
                    <p>宅快修</p>
                </div>
            </li>
            <li class="zkx-sign-half2">
                <div class="huanxin zkx-big-icon"  id="huanxin">
                    <h4 class="iconfont">&#xe607;</h4>
                    <p>宅换新</p>
                </div>
            </li>
        </ul>
        <div class="zkx-ht10"></div>
        <ul class="cl">
            <li class="zkx-sign-half1">
                <div class="gaizao zkx-big-icon"  id="gaizao">
                    <h4 class="iconfont">&#xe606;</h4>
                    <p>宅改造</p>
                </div>
            </li>
            <li class="zkx-sign-half2">
                <div class="tang zkx-big-icon"  id="tang">
                    <h4 class="iconfont">&#xe60d;</h4>
                    <p>快修堂</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="zkx-ht6"></div>
    <div class="zkx-index-bottom">
        <div class="zkx-index-bottom-box">
            <span class="zkx-index-icon zkx-icon-add"></span>
            <span class="zkx-index-icon zkx-icon-tang"></span>
        </div>
    </div>
</div>