<div ng-controller="decorate" class="find-bg">
    <div class="zkx-header">
        <div class="left-icon"><i class="iconfont">&#xe60c;</i></div>
        <span class="logo">发现</span>
    </div>

    <div class="sub-menu-bar">
        <ul>
            <li><a href="#/find/surprise">惊喜发现</a></li>
            <li class="pipe">|</li>
            <li><a href="#/find/decorate">装修攻略</a></li>
            <li class="pipe">|</li>
            <li>
                <a href="#/find/activity" class="selected">热门活动</a>
                <i class="find-icon-hot"></i>
            </li>
        </ul>
    </div>
    <div class="sub-menu-decoration"></div>

    <section class="find-pic-list">
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy.html"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy.html"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy.html"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy.html"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy.html"></a>
    </section>

</div>