<div ng-controller="decorate" class="find-bg">
    <div class="zkx-header">
        <span class="logo">发现</span>
    </div>

    <div class="sub-menu-bar">
        <ul>
            <li><a href="#/find/surprise">惊喜发现</a></li>
            <li class="pipe">|</li>
            <li>
                <a href="#/find/decorate" class="selected">装修攻略</a>
                <!--<i class="find-icon-hot"></i>-->
            </li>
        </ul>
    </div>
    <div class="sub-menu-decoration"></div>

    <section class="find-pic-list">
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy"></a>
        <a class="find-pic" style="background-image: url(assets/img/banner_show.jpg)" href="#/find/strategy"></a>
    </section>

</div>