<div ng-controller="surprise" class="find-bg">
    <div class="zkx-header">
        <a class="left-icon"><i class="iconfont">&#xe60c;</i></a>
        <span class="logo">发现</span>
    </div>

    <div class="sub-menu-bar">
        <ul>
            <li><a href="#/find/surprise" class="selected">惊喜发现</a></li>
            <li class="pipe">|</li>
            <li><a href="#/find/decorate">装修攻略</a></li>
            <li class="pipe">|</li>
            <li>
                <a href="#/find/activity">热门活动</a>
                <i class="find-icon-hot"></i>
            </li>
        </ul>
    </div>
    <div class="sub-menu-decoration"></div>

    <section class="find-list">
        <div class="find-box">
            <h4>宅快修 卫生间</h4>
            <ul class="cl">
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
            </ul>
            <div class="find-status1"></div>
        </div>
        <div class="find-box-decoration"></div>

        <div class="find-box">
            <h4>宅快修</h4>
            <ul class="cl">
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
                <li style="background-image:url(assets/img/photo_show.jpg)"></li>
            </ul>
            <div class="find-status2"></div>
        </div>
        <div class="find-box-decoration"></div>

    </section>
</div>