.page-wrap{padding-top:.8rem;}
.page-menu-box{padding-left: .3rem;background:#fff;margin-bottom: .2rem;}
.page-list-item{height:0.66rem;padding-top: .12rem;padding-bottom: .12rem;border-bottom: 1px solid #dcdcdc;line-height: .66rem;font-size:.3rem;padding-right: .2rem;color:#222}
.page-list-dl{position:relative;padding:.2rem 1.7rem .2rem 0;border-bottom: 1px solid #dcdcdc;}
.page-list-dl dt{float:right;margin-right:-1.4rem;color:#ec651b;font-size: .45rem;
    line-height: 1.4rem;}
.page-list-dl dd h3{font-size: .3rem;
    color: #222;
    line-height: .48rem;
}
.page-list-dl dd h5,.page-list-dl dd h4{font-size: .26rem;
    color: #999;
    line-height: .42rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-list-btn{display:inline-block;height: .6rem;background:#ff6600;color:#fff;line-height: .6rem;text-align:center;border-radius:4px;padding:0 .36rem;}
.page-menu-box .page-list-dl:last-child{border-bottom: 0}
.guarantee-wrap{padding:.8rem .2rem 0}
.guarantee-box{padding:.4rem  .3rem;background:#fff;margin-bottom: .2rem;margin-top: .2rem;border-radius: 15px;}
.guarantee-box h6{color:#222;font-size: .24rem;text-align: right;}
.guarantee-box h1{color:#ec651b;font-size: .80rem;text-align: right;}

.page-list-item-center{height:0.66rem;text-align:center;padding-top: .12rem;padding-bottom: .12rem;line-height: .66rem;font-size:.3rem;padding-right: .2rem;color:#999;cursor: pointer}
.iconfont.arrow-icon{font-size:.3rem;color:#999;font-weight: 800}

.aboutus-img{margin:.45rem auto;width:1.56rem;height: 2.06rem;background:url(../image/aboutus.jpg) no-repeat 50% 50%;background-size:cover; }
.aboutus-loginout{color:#ec651b;height:0.66rem;padding-top: .12rem;padding-bottom: .12rem;line-height: .66rem;font-size:.3rem;
    text-align: center;cursor: pointer}
.register-input-box.border0{border: 0}


.shopList-box{
    position:relative;
    padding: .4rem 0.3rem;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.shopList-box dl{padding-left: 1.38rem; padding-right: 1.5rem;}
.shopList-box dl.p10{padding-right: .5rem;}
.shopList-box dt{float:left; margin-left:-1.38rem;}
.shopList-box dt .images{width:1.38rem;height:1.38rem;background-repeat:no-repeat;background-position:center center;background-size:cover;border: 1px solid #e5e5e5;}
.shopList-box dd.info{margin-left: .2rem;}
.shopList-box dd.info h4{font-size:0.28rem;color:#222;margin-bottom: 0.1rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height: 1.2;margin-top: .3rem;}
.shopList-box dd.info h4 .gray-txt{font-size:.26rem}
.shopList-box dd.info h3{font-size:0.28rem;color:#222;margin-bottom: 0.1rem;line-height: 1.2;margin-top:.1rem;}
.shopList-box .text-info{
    font-size: 0.28rem;
    color: #999;
    margin-bottom: .1rem;
    line-height: 1.6;
}

.replacechoose-list-item{background:#f0eff5;padding:.2rem .2rem;margin-bottom: .2rem;border-radius: 8px;}
.replacechoose-list-item h4{font-size: .3rem;
    color: #222;text-align: center}
.replacechoose-list-item p{font-size: .28rem;
    color: #999;text-align: center}

.youhuiquan-list{padding:0 .3rem .2rem}
.youhuiquan-list li{
    padding: 0 .3rem;
    margin-bottom: .2rem;
    background-size: contain;
    border-radius:8px;
    background: url(../image/roll_organge.jpg) repeat-y left 0 #fff;
    height: 2rem;
    position: relative;
}
.youhuiquan-list li .round{position: absolute;top:0;left:38%;margin-left:.1rem;margin-top:-.1rem;width: .2rem;height: .2rem;border-radius:50%;background:#efeff4}
.youhuiquan-list li .round.bt{bottom: -.1rem;top: inherit;}
.youhuiquan-list li .youhuiquan-choose{position: absolute;top:50%;right: .1rem;margin-top: -.2rem;}
.youhuiquan-list li .youhuiquan-choose .iconfont{font-size: .4rem;}
.youhuiquan-list .fl{width: 40%;}
.youhuiquan-list .fr{width: 60%;position: relative;height: 100%;}
.youhuiquan-list .fl h1{font-size: .7rem;margin-top: .3rem;text-align: center;border-right:1px dashed #d9d9d9;letter-spacing:-2px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.youhuiquan-list .fl p{font-size: .26rem;padding-top: 0.1rem;text-align: center;border-right:1px dashed #d9d9d9;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.youhuiquan-list .fr h1{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: .35rem;margin-top: .35rem;text-align:left;padding-left: .3rem;}
.youhuiquan-list .fr p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: .26rem;padding-top: .5rem;text-align:left;padding-left: .3rem;color: #a7a7a7 !important;}


.weixin-pay{font-size:.6rem;color:#40a738}
.bank-pay{font-size:.6rem;color:#ddab48}
.ali-pay{font-size:.6rem;color:#2798d6}
.pay-wrap{background:#f7f7f8;padding-left: 1.3rem; padding-right: 0.95rem; padding-top: .2rem; padding-bottom: .1rem;margin-bottom:.2rem;}
.pay-box-icon{float: left; margin-left: -.95rem; line-height: 1;margin-top: .1rem;}
.pay-box-choose{float: right; margin-right: -.65rem;margin-top: .2rem;}
.pay-box-choose .iconfont{color:#9f9fa0}
.pay-icon{font-size: .46rem; line-height: 0.46rem; color: #00aaee; width: 0.46rem; display: inline-block;}
.pay-action-info h3{color:#231916;font-size:.3rem;line-height:.38rem;}
.pay-action-info h5{color:#8d8d8e;font-size:.26rem;line-height:.4rem;}
