.page-wrap{padding-top:.8rem;}
.page-menu-box{padding-left: .3rem;background:#fff;margin-bottom: .2rem;}
.page-list-item{height:0.66rem;padding-top: .12rem;padding-bottom: .12rem;border-bottom: 1px solid #dcdcdc;line-height: .66rem;font-size:.3rem;padding-right: .2rem;color:#222}
.page-list-dl{position:relative;padding:.2rem 1.7rem .2rem 0;border-bottom: 1px solid #dcdcdc;}
.page-list-dl dt{float:right;margin-right:-1.4rem;color:#ec651b;font-size: .45rem;
    line-height: 1.4rem;}
.page-list-dl dd h3{font-size: .3rem;
    color: #222;
    line-height: .48rem;
}
.page-list-dl dd h5,.page-list-dl dd h4{font-size: .26rem;
    color: #999;
    line-height: .42rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-list-btn{display:inline-block;height: .6rem;background:#ff6600;color:#fff;line-height: .6rem;text-align:center;border-radius:4px;padding:0 .36rem;}
.page-menu-box .page-list-dl:last-child{border-bottom: 0}
.guarantee-wrap{padding:.8rem .2rem 0}
.guarantee-box{padding:.4rem  .3rem;background:#fff;margin-bottom: .2rem;margin-top: .2rem;border-radius: 15px;}
.guarantee-box h6{color:#222;font-size: .24rem;text-align: right;}
.guarantee-box h1{color:#ec651b;font-size: .80rem;text-align: right;}

.page-list-item-center{height:0.66rem;text-align:center;padding-top: .12rem;padding-bottom: .12rem;line-height: .66rem;font-size:.3rem;padding-right: .2rem;color:#999;cursor: pointer}
.iconfont.arrow-icon{font-size:.3rem;color:#999;font-weight: 800}

.aboutus-img{margin:.45rem auto;width:1.56rem;height: 2.06rem;background:url(../image/aboutus.jpg) no-repeat 50% 50%;background-size:cover; }
.aboutus-loginout{color:#ec651b;height:0.66rem;padding-top: .12rem;padding-bottom: .12rem;line-height: .66rem;font-size:.3rem;
    text-align: center;cursor: pointer}
.register-input-box.border0{border: 0}


.shopList-box{
    position:relative;
    padding: .4rem 0.3rem;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.shopList-box dl{padding-left: 1.38rem; padding-right: 1.5rem;}
.shopList-box dl.p10{padding-right: .5rem;}
.shopList-box dt{float:left; margin-left:-1.38rem;}
.shopList-box dt .images{width:1.38rem;height:1.38rem;background-repeat:no-repeat;background-position:center center;background-size:cover;border: 1px solid #e5e5e5;}
.shopList-box dd.info{margin-left: .2rem;}
.shopList-box dd.info h4{font-size:0.28rem;color:#222;margin-bottom: 0.1rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height: 1.2;margin-top: .3rem;}
.shopList-box dd.info h4 .gray-txt{font-size:.26rem}
.shopList-box dd.info h3{font-size:0.28rem;color:#222;margin-bottom: 0.1rem;line-height: 1.2;margin-top:.1rem;}
.shopList-box .text-info{
    font-size: 0.28rem;
    color: #999;
    margin-bottom: .1rem;
    line-height: 1.6;
}

.replacechoose-list-item{background:#f0eff5;padding:.2rem .2rem;margin-bottom: .2rem;border-radius: 8px;}
.replacechoose-list-item h4{font-size: .3rem;
    color: #222;text-align: center}
.replacechoose-list-item p{font-size: .28rem;
    color: #999;text-align: center}

.youhuiquan-tips{height: .6rem;line-height: .6rem;font-size: .24rem;color:#222;padding-right: .3rem;text-align: right;display: block}
.youhuiquan-tips .iconfont{line-height: .4rem;font-size: .3rem;color:#ff6000;vertical-align: -.05rem;}
.youhuiquan-list{padding:0 .3rem .2rem}
.youhuiquan-list li{
    padding: 0 .3rem;
    margin-bottom: .2rem;
    background-size: contain;
    border-radius:8px;
    background: url(../image/roll_organge.jpg) repeat-y left 0 #fff;
    height: 2rem;
    position: relative;
}
.youhuiquan-list li .round{position: absolute;top:0;left:38%;margin-left:.1rem;margin-top:-.1rem;width: .2rem;height: .2rem;border-radius:50%;background:#efeff4}
.youhuiquan-list li .round.bt{bottom: -.1rem;top: inherit;}
.youhuiquan-list li .youhuiquan-choose{position: absolute;top:50%;right: .1rem;margin-top: -.2rem;}
.youhuiquan-list li .youhuiquan-choose .iconfont{font-size: .4rem;}
.youhuiquan-list .fl{width: 40%;}
.youhuiquan-list .fr{width: 60%;position: relative;height: 100%;}
.youhuiquan-list .fl h1{font-size: .7rem;margin-top: .3rem;text-align: center;border-right:1px dashed #d9d9d9;letter-spacing:-2px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.youhuiquan-list .fl p{font-size: .26rem;padding-top: 0.1rem;text-align: center;border-right:1px dashed #d9d9d9;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.youhuiquan-list .fr h1{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: .35rem;margin-top: .35rem;text-align:left;padding-left: .3rem;}
.youhuiquan-list .fr p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: .26rem;padding-top: .5rem;text-align:left;padding-left: .3rem;color: #a7a7a7 !important;}
.confirm-address-box{
    position: relative;
    background:#fff;
    padding-left: .75rem;
    margin-bottom:.2rem;
    padding-right: .5rem;
    padding-top:.15rem;
    padding-bottom:.15rem;
    font-size: .3rem;
}
.confirm-address-box h4{
    color:#222;font-size: .3rem;
}
.confirm-address-box h5{
    color:#999;font-size: .26rem;
}
.confirm-address-box .iconfont{
    font-size: .42rem;
}
.confirm-address-box .left-address{
    font-size: 0.24rem;
    display: inline-block;
    position: absolute;
    left: 0.2rem;
    top: 50%;
    margin-top: -.15rem;
}
.confirm-address-box .right-address{
    font-size: 0.24rem;
    display: inline-block;
    position: absolute;
    right: 0.2rem;
    top: 50%;
    margin-top: -.15rem;
}
.fix-block{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: .3rem;
    height: .87rem;
    background: #ff6600;
    color: #fff;
    line-height: .87rem;
    text-align: center
}
.weixin-pay{font-size:.6rem;color:#40a738;margin-left: -.1rem;}
.bank-pay{font-size:.6rem;color:#ddab48}
.ali-pay{font-size:.6rem;color:#2798d6;line-height: .6rem;}
.pay-title{background:#fff;margin-bottom: .2rem;padding-top:.2rem}
.pay-title-bg{
    width: 1.5rem;
    height: 1.5rem;
    background: url(../image/login/zkx_big_logo.png) no-repeat 50% 50%;
    background-size: contain;
    padding-top: .4rem;
    margin: 0 auto;
}
.pay-money{font-size: .3rem;color: #222;text-align: center;padding-bottom: .35rem}
.pay-wrap{background: #fff;padding-left: .7rem;position: relative;padding-top: .15rem;}
.pay-box-icon{float: left;margin-left: -.7rem;line-height: 1;margin-top: .1rem;}
.pay-box-choose{position: absolute;right: .3rem;margin-top: .2rem;}
.pay-box-choose .iconfont{color: #d9d9d9;font-size: .4rem;line-height: .5rem;}
.pay-icon{font-size: .46rem; line-height: 0.46rem; color: #00aaee; width: 0.46rem; display: inline-block;}
.pay-action-info h2{color:#231916;font-size:.28rem;line-height: .6rem;margin-left: -.1rem;}
.pay-action-info h3{color:#231916;font-size:.28rem;line-height: .3rem;vertical-align: -.1rem;}
.pay-action-info h5{color: #fff;font-size: .22rem;line-height: .3rem;background: #ff6100;display: inline-block;padding: 0 .2rem;margin-top: 6px;}
.pay-action-info{border-bottom: 1px solid #ddd;margin-left: .2rem;padding: .1rem 0 .15rem;}
.pay-action-info.border0{border-bottom: 0}


.shopcart-box{
    position:relative;
    padding: .35rem 0 .35rem 0.35rem;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.shopcart-box dl{padding-left:1.95rem; padding-right: .3rem;}
.shopcart-box dt{float:left; margin-left:-1.4rem;}
.shopcart-box dt .images{width:1.4rem;height:1.4rem;background-repeat:no-repeat;background-position:center center;background-size:cover;border: 1px solid #e5e5e5;}
.shopcart-box dd.info{margin-left: .2rem;}
.shopcart-box dd.info h4{font-size:0.28rem;color:#222;margin-bottom: 0.1rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height: 1.2;margin-top: .3rem;}
.shopcart-box dd.info h4 .gray-txt{font-size:.26rem}
.shopcart-box dd.info h3{font-size: 0.34rem;color:#222;margin-bottom: 0.1rem;line-height: 1.2;margin-top:.1rem;}
.shopcart-box .text-info{
    font-size: 0.28rem;
    color: #999;
    line-height: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shopcart-box  .poa-choose{position: absolute;
    top: 50%;
    left: 0.3rem;
    margin-top: -.15rem;}
.shopcart-box  .poa-choose .iconfont{font-size: .4rem;color: #ff6000}
.shopcart{position:absolute;right: 0;top: 0.05rem;box-sizing:border-box;white-space:nowrap;height: .5rem;border:1px solid #9a9a9a;font-size: 0;}
.shopcart a{display: inline-block;width: .5rem;height: 100%;line-height: .5rem;text-align:center;font-size: .28rem;box-sizing: border-box;}
.shopcart .minus{border-right:1px solid #9a9a9a;color:#999}
.shopcart .failed{color:#d1d1d1;}
.shopcart .plus{border-left:1px solid #9a9a9a;}
.shopcart .num{width: .5rem;text-align:center;border:none;display: inline-block;height:100%;box-sizing:border-box;vertical-align:top;margin: 0 .06rem;line-height: .5rem;font-size: .28rem;}
.shopcart-rowspan{width:100%;display:table;height:.45rem;background:#fff;font-size: .3rem;}
.shopcart-span{position: relative;height:100%;display:table-cell;width:50%;box-sizing: border-box;vertical-align: middle;font-size: .3rem;}
.shopcart-span .jiage{font-size: .4rem;vertical-align: top;}
.shopcart-span h2{color:#222;font-size:.3rem; line-height:.425rem;margin-bottom:.1rem;
    padding-left:.3rem;
    padding-right:.3rem;}
.shopcart-span h2.right{text-align: right}



.zkxs-fixed-btn-info-box{float:left;width:70%; line-height: .96rem;font-size: .3rem;}
.zkxs-fixed-btn-info{margin-left:.3rem;margin-right:.3rem;line-height: .96rem;}
.zkxs-fixed-iconfont{margin-right: .1rem;font-size: .3rem;}
.zkxs-fixed-btn{float:right;width:30%;background:#ff6600;color:#fff;text-align:center;height:100%;
    line-height: .96rem;font-size: .3rem;}
.zkxs-fixed-btn.bg-gray{background:#bdbdbd}
.zkxs-fixed-btn-box{position:fixed;bottom:0;left:0;right:0;width:100%;font-size: .28rem;height:.96rem;border-top:1px solid #bdbdbd;background:#fff;z-index: 2000;}
@media screen and (min-width:750px){
    .zkxs-fixed-btn-box{position:fixed;left:50%;width:750px;margin-left:-375px;}
}